{{ define "head" }}
<link rel="stylesheet" href="/static/css/foundation.css">
<title>The open curriculum foundation</title>
{{ end }}
{{ define "body" }}
<nav id="back">
    <a href="/">&lt; Back to the homepage</a>
</nav>
<main>
    <section>
        <h1>
            The
            <br>
            open curriculum foundation
        </h1>
    </section>
    <section>
        <p>Todavía no se ha fundado</p>
        <p>
            The non-profit foundation will be responsible for the creation of the platform, its moderation and some of the development
            of the curriculum.
        </p>
        <!--<p>Link to the statutes</p>-->
    </section>
    <section>
        <h2>Achieved milestones</h2>
        <p>...</p>
    </section>
    <section>
        <h2>Next steps</h2>
        <h4>Development of platform's core functionalities</h4>
        <p>The initial focus would be on developing the core functionalities of the platform.</p>
        <p>That would include:</p>
        <ul>
            <li>
                <p>Defining system's infrastructure like servers, databases...</p>
            </li>
            <li>
                <p>Designing and developing the curriculum consumption user interface and functionality</p>
            </li>
            <li>
                <p>Designing and developing the curriculum creation user interface and functionality</p>
            </li>
        </ul>
        <p>
            I estimate it will take a team of around 4 senior developers around 4 months (±50%) to get the basic functionalities of the platform working.
        </p>
        <p>
            At this point, creation on a the preliminary curriculum can start in private, while the rest of functionalities are being worked on and implemented.
        </p>
        <h4>Development of a preliminary curriculum and gradual opening</h4>
        <p>
            Before opening the platform to the public, it is important to have a well structured preliminary curriculum in order to make development and coordination easier later on.
        </p>
        <p>
            During this phase, focus will primarily be on defining the structure of the curriculum graph: This entails identifying the most relevant units, determining their dependencies, and grouping them together effectively.
        </p>
        <p>Content will be added once the preliminary structure is mostly clear.</p>
        <p>
            The process would start by contacting great professors, both from universities and online content creators. They will be selected based on their reputation and visibility. It is inevitable that the group will be biased, with an overrepresentation of famous professors, and many excellent teachers may be left out. However, this approach is the best that can be done under the circumstances. Later on, all professors will have access and the right to make the proposals they please.
        </p>
        <p>
            The inclusion of more users will be gradual, incorporating professors in rounds. With each new round recently joined professors will be allowed to recommend colleagues for the next round. This will enable the inclusion of additional exceptional professors who may have initially been overlooked.
        </p>
        <p>
            I estimate this will take around 6 months (±50%), considering it will be done by voluntaries that already have a pretty busy life.
        </p>
        <h4>Opening to the public</h4>
        <p>
            Once the preliminary curriculum is ready, it will be open to the public. Anyone will be able to make proposals and take part in the decission-making process
        </p>
        <p>
            Developers will continue adding further funcionatily to the platform, always listening to user feedback and needs.
        </p>
        <h4>Stablishing partnerships with universities</h4>
        <p>
            Once the platform is open to the public, the next step is to contact universities to stablish partnerships by integrating the curriculums into their subjects. This will promote its adoption and boost its development.
        </p>
    </section>
</main>
{{ end }}

