{{ define "head" }}
    <link rel="stylesheet" href="/static/css/index.css">
{{ end }}

{{ define "body" }}
<header>
        <h1 class="animated">open<br>curriculum</h1>
</header>
<main>
<section id="abstract">
    <p class="animated">This proposed platform aims to:</p>
    <ul>
        <li class="animated">
            <p>Offer an <b>environment to enable the open-source development</b> of a <b>high-quality curriculum</b></p>
        </li>
        <li class="animated">
            <p>Provide a <b>framework for certification</b> in collaboration with current educational entities</p>
        </li>
        <li class="animated">
            <p>Make <b>free tertiary education accessible to everyone</b> and reduce the global cost of education</p>
        </li>
    </ul>
</section>

<section id="manifest-foundation">
    <div class="animated">
        <p style="font-style: italic;">Currently, it is just an idea.<br>We are <b>looking for the resources and support to start the development</b> as soon as possible.</p>
    </div>
    <div class="cards">
    <div class="card animated">
        <h2>The manifest</h2>
        <p>explores the problems in current education systems and describes the proposed platform.</p>
        <a href="/manifest">Read the manifest ></a>
    </div>
    
    <div class="card animated">
        <h2>The Open Curriculum Foundation</h2>
        <p>will be in charge of the development and mainteinance of the platform.</p>
        <a href="/foundation">About the foundation ></a>
    </div>

    <div class="card animated">
        <h2>Back-stage</h2>
        <p>Check the current state of the development of the platform.</p>
        <a href="/units">See the proof of concept ></a>
    </div>
</div>
</section>

<section id="faq">
    <div>
        <h2 class="animated">FAQ</h2>
    </div>
    <div class="qas">
        
        <div class="qa">
            <p class="q">Is this trying to substitute universities?</p>
            <p class="a">No, the objective is to complement them, rather than substituting them. The system will be a tool for university professors to unite efforts.</p>
        </div>
        <div class="qa">
            <p class="q">What is the role of universities in this platform?</p>
            <p class="a">Universities remain the primary certifying entities. The platform proposes that universities adhere to the open-source curriculum, contribute to its development, and use the content in their classes. Students' certifications are recorded on the platform, creating a standardized and compatible certification system.</p>
        </div>
        <div class="qa">
            <p class="q">How is this different from other online learning platforms?</p>
            <p class="a">It stands out by offering a collaborative curriculum development system and by integrating with current universities, ensuring the recognition and compatibility of the education provided.</p>
        </div>
        <div class="qa">
            <p class="q">How can people contribute to the collaborative development of the curriculum?</p>
            <p class="a">Everyone can create a proposal with changes to the curriculum. After a proposal is made it undergoes a voting process to decide wether it gets accepted.</p>
        </div>
        <script>
            // Apply the animation to the questions and answers
            const qas = document.querySelectorAll('div.qa');
            qas.forEach((qa) => {
                // add the class animated to the element
                qa.classList.add('animated');
            });
        </script>
    </div>
</section>
</main>
{{ end }}