{{ define "head" }}
<title>Units</title>
<link rel="stylesheet" href="/static/css/graph.css">
<link rel="stylesheet" href="/static/css/teach_and_learn.css">
<link rel="stylesheet" href="/static/css/learn.css">
<script src="/static/js/graph.js" defer></script>
{{ end }}


{{ define "body" }}
<nav id="top_bar">
    <a href="/"><img id="logo" src="/static/media/logo.svg"></a>
</nav>
<main {{ if eq .OpenUnit.ID 0}} class="no-open-unit" {{ end }}>
    <div id="graph">
        {{ if .Graph.Units }}
            {{ range .Graph.Units }}
                <div class="unit existing" id="unit-{{ .ID }}" style="--horizontal-position: {{.HorizontalPosition}}" proposed="false" unit_id="{{.ID}}">
                    <div class="node" id="node-{{ .ID}}" ></div>
                    <p hx-put="/set-open-unit?is_proposed=none&id={{ .ID }}"
                       hx-target="body">{{ .Name }}</p>
                </div>
            {{ end }}
        {{ end }}
    </div>
    <div id="details">
    {{ block "unit_details" .}}
        {{ if ne .OpenUnit.ID 0}}
        <button class="red"
                hx-put="/set-open-unit?is_proposed=none&id=0"
                hx-target="body">Close Unit</button>
        {{ with .OpenUnit }}
            <h1>{{ .Name }}</h1>
            <p>{{ .Content }}</p>
        {{ end }}
        {{ end }}
    {{ end }}
    </div>
</main>
<script>
    // Pass the dependencies to a js array of objects
    dependencies = [
        {{ range .Graph.Dependencies }}
            { from: {{ .DependsOnID }}, to: {{ .UnitID }} },
        {{ end }}];
</script>
{{ end }}
