{{ define "head" }}
<title>Log in</title>
{{ end }}
{{ define "header" }}
<form id="login-form" action="/login" method="post">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
    <button type="submit">Login</button>
</form>
<p>
    Don't have an account? <a href="/register">Register</a>
</p>
{{ if .Message }}
<div id="message"></div>
{{ end }}
{{ end }}
