{{ define "head" }}
<title>Open curriculum manifest</title>
<script src="/static/js/notes.js" defer></script>
<script src="/static/js/menu.js" defer></script>
<link rel="stylesheet" href="/static/css/menu.css">

<link rel="stylesheet" href="/static/css/manifest.css">
{{ end }}

{{ define "body" }}
<nav id="back">
    <a href="/">&lt; Back to the homepage</a>
</nav>

<main>
    <section id="intro">
        <p>The manifest is divided into two main sections:</p>
        <div>
            <a href="#current-situation">An analysis of the <b>current situation</b></a>
        </div>
        <div>
            <a href="#proposed-solution">The description of the <b>proposed solution</b></a>
        </div>
    </section>

    <section id="current-situation">
        <h2>Current situation</h2>
        <p>Historically, universities have been the main centers for learning and played a key role in society's technological and intellectual progress. However, the internet has changed how we access information, making it more convenient and accessible, and often surpassing universities in providing quality educational content. With AI on the rise, we're approaching a new era in education that promises personalized learning at a lower cost, aiming to make high-quality education available to everyone.</p>
        <p>In the last decade, the gap between the potential impact of available technology in education and reality has been widening. It's time we address this issue.</p>
        <br>
        <p>Before any proposal, let's discuss the shortcomings of both traditional education and self-taught internet education.</p>

        <h3>Problems of traditional education</h3>

        <h4>Unnatural synchronicity in the learning-rate of students</h4>
        <p>There is a brilliant TED talk by Sal Khan in which he explains what he calls "teaching for mastery", perfectly illustrating this issue <span id="expand-khan" onclick="toggleExpand('khan')">click to watch</span>.
        </p>
        <!--
            <p class="comment">(I've taken the most relevant ideas so that it is not neccessary to watch it to continue reading. I strongly recommend watching it afterwards though)</p> 
        -->
        <div id="expand-khan">
        <center><iframe width="560" height="315"
                src="https://www.youtube.com/embed/-MTRxRO5SRA"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe></center>
        </div>
        <p>In his words:</p>
        <blockquote>
            <p>In the traditional academic model students are grouped together by age, and we sheppard them all together at the same pace.</p>
            <p>[...]</p>
            <p>After a fixed time going through lecture-homework cycle you get a test, where each one gets a result with the aim of identifying gaps in their knwoledge, and even though the test identified those gaps in their knwoledge, the whole class will then move on to the next subject, probably a more advanced subject that's going to build on those gaps.</p>
            <p>[...]</p>
            <p>This will continue up until at some point, the student hits a wall. Not because the subject is particularly difficult or because the student isn't bright; but because those things he didn't know are showing up, he doesn't understand and starts to disengage.</p>
            <p>[...]</p>
            <p>We took the trouble of inspecting and identifying those gaps, but then we built right on top of it.</p>
        </blockquote>
        <p>He explains how education artificially constrains how long students have to learn something, while the extent to which the student understood is the variable outcome.</p>
        <blockquote>
            <p>The idea of mastery learning is to do the exact opposite.
                <strong>What's variable is how long a student actually has to work on something and what's fixed is that they actually master the material.</strong>
            </p>
            <p>[...]</p>
            <p>Not only will this make the student learn better, but it'll reinforce the right mindset muscles. It makes them realize that if you got something wrong, it doesn't mean that you are a C branded in your DNA somehow, it means that you should just keep working on it. </p>
        </blockquote>

        <p style="text-align: center;"><span id="expand-khan-aditional" onclick="toggleExpand('khan-aditional')">See some aditional quotes from the talk</span></p>
        <div id="expand-khan-aditional">
            <p>Addressing the skeptics who question the feasibility of scaling personalized mastery-based learning, Khan argues that advances in technology have made it no longer impractical: </p>
            <blockquote>
                <p><i>Want students to see an explanation at their own time and pace? Well, there's an on demand video for that. They need practice? They need feedback? There's adaptive exercises readily available for students.</i></p>
            </blockquote>
            <p><br>Khan continues by presenting a wonderful thought experiment to highlight the untapped potential in education.</p>
            <blockquote>
                <p>To appreciate what we are talking about and the tragedy of lost potential here. I'd like to give a little bit of a thought experiment: <br><br>
                If we were to go 400 years into the past to Western Europe, which even then, was one of the more literate parts of the planet, you would see that about 15 percent of the population knew how to read.<br><br>
                And I suspect that if you asked someone who did know how to read, say a member of the clergy, "What percentage of the population do you think is even capable of reading?" They might say, "Well, with a great education system, maybe 20 or 30 percent." If you fast forward to today, we know that that prediction would have been wildly pessimistic, that pretty close to 100 percent of the population is capable of reading.<br><br> If I were to ask you a similar question: "What percentage of the population do you think is capable of truly mastering calculus, or understanding organic chemistry, or being able to contribute to cancer research?" A lot of you might say, "Well, with a great education system, maybe 20, 30 percent."</p>
            </blockquote>
            <p>In his view, disengagement is mainly caused by the lacking, non-mastery-oriented education; and with a proper education system, that estimation will be proven as pessimistic as the former:</p>
            <blockquote>
                <p>That number, the percent that could really master calculus or understand organic chemistry, is actually a lot closer to 100 percent.</p>
            </blockquote>
        </div>
        <p>Looking ahead, Khan sees mastery-based learning as not just a desirable option but a social imperative in the information revolution era; where advances in technology, such as on-demand videos and adaptive exercises, have made personalized mastery-based learning more feasible than ever before.</p>
    

        <h4>Lectures based on in-class note-taking</h4>
        <p>The traditional lecture format, which involves copying notes from the lecturer, has become outdated in the digital age. Still, they remain the norm in most universities. There is a great video on Sixty Symbols' youtube channel on this very topic <span id="expand-video-sixty" onclick="toggleExpand('video-sixty')">click to watch</span> from which I'd like to bring</p>
        <div id="expand-video-sixty">
        <center>
            <iframe width="560" height="315"
                src="https://www.youtube.com/embed/vv1134PLylU?si=T-EABmDQfY1pIEZo"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen></iframe>
        </center>
        </div>
        <ul>
            <li>a quote by Virginia Wolf:</li>
        </ul>
        <blockquote>
            <p>University lectures are an obsolete practice inherited from the Middle Ages when books were scarce.</p>
        </blockquote>
        <ul>
            <li>and other one of unclear authority:</li>
        </ul>
        <blockquote>
            <p>The traditional lecture involves transferring the notes from the notebook of the lecturer to the notebooks of the students without going through the brains of either.</p>
        </blockquote>
        <p>I couldn't agree more with both.</p>
        <p>Even if note-taking can slightly help with memorization, it is not an efficient use of students' time and effort. Listening with full attention greatly surpasses the benefits of copying. Content should be given to the students in the most confortable format, allowing them to focus on understanding rather than copying. We have the tools to fix this, in many cases it is just a matter of willingness <span id="expand-notes" onclick="toggleExpand('notes')">see note</span>.</p>
        <div id="expand-notes">
            <p class="comment">It is really common that professors keep some solved examples or exam exercises for lectures, refusing to include them in the provided material. I've always hated this. I guess some professors think it is the only way to encourage attending to their classes. I think it is a better practice to ensure your classes provide value.</p>
        </div>

        <h4>Excessive focus on certification</h4>
        <p>People who teach are often the same people who prepare and correct the exams. In an ideal world, this would be fine, but in practice, it creates a conflict of interests, often leading to an exam-oriented teaching, while the actual learning is neglected.</p>
        <p>Although certification might be important, it cannot be the objective. Teaching should come first, unconstrained by certification, and only then should certification come; if neccessary <span id="expand-cert" onclick="toggleExpand('cert')">see note</span>.</p>
        <div id="expand-cert">
            <p class="comment">This is more of a personal opinion, but most of the times it is far from neccessary and it is even counterproductive.</p>
            <p class="comment">People may ask: <i>"But, what will it mean to own a degree if every step done is not certified?" </i> What does it mean now? Sadly, close to nothing. In the current system, where exams become the sole focus, many students simply memorize information to pass the tests, only to forget it shortly after. As a result, the certification itself loses its true meaning and fails to reflect genuine knowledge and understanding.</p>
            <p class="comment">The prevalence of job-interview tests among major companies further underscores this point. What is the purpose of certification at university if you are subjected to assessments during the job application process anyway?</p>
        </div>

        <h4>Bad management of teachers' effort and talent</h4>

        <h5>The unnecessary repetition</h5>
        <p>Every year and for every subject, thousands of teachers simultaneously deliver lectures on the exact same topic. That is such a waste of time and effort of some of the most brilliant people on earth. With the tools we have today see note</span>, the potential for cost reduction is inmense.</p>
        <h5>The lack of improvement</h5>
        <p>Students' engagement and understanding greatly depends on the quality of the explanations. While some professors excel in delivering clear and helpful explanations, making complex topics easily understandable; the distribution of this proficiency is fairly heterogeneous.</p>
        <p>Education as we know it doesn't improve when someone comes up with the best explanation to date on a given topic. Great explanations don't accumulate, they are not included into mainstream curricula and don't benefit education as much as they could. (The worst hardly ever get filtered out neither, as in most educational institutions there is no effective control system, but let's focus on the positive :) How is it possible that perspective-shifting, eye-opening videos like 3Blue1Brown's are not included, or recommended at least, in all Algebra or Calculus courses worldwide?
        </p>
        <p>As a society, we should prioritize the development of tools that allow coordination and cooperation of professors, in order to combine all the effort that is currently being wasted in redundancy.</p>
        <p>Once an excelent lecture is recorded, like Walter Lewins' incredible physics classes for example, it makes no sense to have people imparting inferior versions of the same explanations. Not only does it not add value, but it degrades the learning process of the students. The highest-quality content available should become the standart, until something better replaces it.</p>

        <h4>Inertia</h4>
        <p>Another weak point of universities is how slowly they react to the changing environment. This specially affects latest technological advancements, which are often ignored for as long as possible, and creates a delay between what society needs people working on and what students are learning.</p>
        <p>Rather than a sign of professor's incompetence or apathy, this lag is inherent to the system, which has so much inertia that steering requires a titanical effort.</p>

        <h4>Universities are not always available</h4>
        <p>In spite of all of this complaints, suboptimal education is still preferable to none at all.</p>
        <p>The following graph from <i>Our World in Data</i> shows the share of population that has completed tertiary education in each country.</p>
        <center>
            <iframe
                src="https://ourworldindata.org/grapher/share-of-the-population-with-completed-tertiary-education?time=2010"
                loading="lazy"
                style="width: 100%; height: 600px; border: 0px none;"></iframe>
        </center>
        <p>It is concerning how much of the globe is in the 0 to 4% group. As it is stated in the source, in many of the world's poorest countries less than 1% have completed tertiary education. It might be easy to overlook, but that also means not having doctors or engineers across the entire country.</p>
        <p>For a country to achieve long-term technological independence and successful development, a robust foundation in higher education is indispensable. This empowers local communities to create innovative solutions to their problems, instead of relying on more developed countries.</p>

        <h3>Problems of education based on freely available unstructured information on the internet</h3>
        <p>As previously discussed, the internet is arguably a superior source of knowledge for an agile "self-taught" learner. Nevertheless, it is not a perfect solution and has several mayor drawbacks.</p>

        <h4>The mess</h4>
        <p>The abundance of information on the internet is a double edge sword. The path to self-education on the internet is not always straightforward, especially when it comes to advanced topics. Without some level of initial education on the topic, it can be challenging to know what is important to learn and what is not.
        </p>
        <p>Unlike in traditional education, there is no set curriculum or clear progression of topics.</p>
        <p>The inefficiencies derived from this lack of direction can outweigh the benefits of accessing the high-quality information.</p>

        <h4>The lack of reliability</h4>
        <p>Another major drawback is that reliability of the content is not ensured in any way. Misinformation, biased perspectives, and outdated material can easily find their way into online resources, making it essential for learners to critically evaluate the sources they encounter.</p>

        <h4>Incompatibility with certification</h4>
        <p>Education based on freely available and structure-less information on the internet is inherently incompatible with certification, which is often a requirement for employment.</p>
        <p>Even more, there is no easy way to communicate what or how much you have learned. In universities this information is compressed into a single diploma. This makes it easy for others to immediatly have a rough idea of what you are capable of.</p>

        <h3>Critique to online courses</h3>
        <p>We are witnessing a boom in online paid courses that operate outside the mainstream educational system.</p>
        <p>Some people might say that having online course marketplaces will open up and decentralize education; but in my view, this is far from reality. This online course marketplaces don't follow the highly praised market forces. Students cannot really compare the courses, as people do not typically enroll in multiple courses on the same topic to make informed comparisons. Instead, the decision-making process often relies on the fallacy of authority and marketing tactics. This way, instead of allowing small creators to earn a living, what is happening is that universities are being replaced by a trend of celebrity-led online master-classes. </p>
        <p>When it comes to certification, it is nearly impossible to know how a course will be taken into consideration, as they are the oposite of standarization.</p>
        <p>What does the future hold for education? Will universities disappear, leaving education to be based solely on a multitude of courses offered on platforms like Udemy or Masterclass? Frankly, no matter how excellent the content may be, I do not believe these platforms can match universities in guiding individuals' educational development.</p>
        <p>Don't get me wrong. I will never say they are not useful or that they don't bring value, nor that creators shouldn't be economically rewarded for their effort. They just aren't how I think education should operate. Leaning on them to compensate for universities' inefficiencies might be more dangerous than it seems at first.</p>
    </section>

    <section id="proposed-solution">
        <h2>Proposed solution</h2>

        <h3>Overview</h3>
        <p>The proposal consists of a platform in which <b>the collaborative development of a high-quality curriculum</b> can be carried out.</p>
        <p>The resulting curriculum will be <b>freely accessible on the internet</b>.</p>
        <p>The platform would also serve as a <b>standard for certification</b>, that universities and other entities can use.</p>
        <br>
        <p>University professors will be able to use the platform's content as a reference for their lectures, and also contribute to the development.</p>
        <p>It would be a tool for professors to <b>unite efforts and cooperate</b>, instead of all doing the same work independently. There would be a single open-source curriculum optimized for the best learning process.</p>
        <p>As it is designed and agreed upon by professors of univeristies adhering to it, it would be <b>peer reviewed by design</b>. This would serve as a quality control mechanism, improve transparency and eliminate biases and adoctrination, offering a <b>trustworthy and rigorous</b> curriculum.</p>
        <br>
        <p>Universities will remain the primary certification organ. They could design certification tasks, like exams or projects, to verify that the student has the required knowledge. After a satisfactory result, they could record it on the platform.</p>
        <p>On the other hand, the system would also allow for university-grade education without the hussle of going through certification, while maintining the <b>option to get certified by a university when and if the student finds it necessary</b>. This is a great advantage over independent online courses, which adhere to no standard.</p>
        <br>
        <p>This compilation of the best possible courses is going to be freely accessible on the internet, meaning <b>every person in the world will have access to an education as good as the one in the top universities</b>. This will have a huge possitive impact in developing countries where tertiary education is not available or affordable. It will <b>reduce inequality and promote global progress and development</b>.</p>
        <br>
        <p>Other benefits of the system would be:</p>
        <ul>
            <li><b>Allowing asynchronous education</b>. For university independent students, the planning would not be laid out by age and there would be no deadlines. They could learn at their pace, enabling the mentioned "teaching for mastery".</li>
            <li><b>Preventing the learning process from being certification-oriented</b>. This is achieved thanks to the decoupling of curriculum creation and certification.
            <li></li>
            <li><b>Improving the flexibility of the educational system and its permeability to technological breakthroughs</b>. Experts on an emmergent topic can create a course for it or integrate it with existent courses. There is no need to wait until all professors are educated on it to be able to spread that knowledge. It is a much more agile solution. </li>
            <li><b>Simplify and promote greater academic mobility</b>. With a standardized curriculum in place, students could easily study at multiple universities without worrying about the complexities of convalidating their credits or academic programs.</li>
        </ul>
        <br>
        <p>In short, it aims to leverage the internet to its fullest potential to make university education as good as possible.</p>

        <h3>How is it different to other existing solutions?</h3>
        <p>This is not the first free and open online teaching platform. Several successful platforms, such as <i>MIT OpenCourseWare</i>, <i>Khan Academy</i>, <i>OpenLearn</i>, and <i>edX</i>, already offer a vast catalog of great courses.</p>
        <p>However,</p>
        <ul>
            <li>
                <p><b>They lack collaborative course creation tools.</b> Courses on many of these platforms often function as independent entities, <b>lacking clear dependencies and a coherent learning path</b>. They are more of a course catalog rather than a comprehensive university curriculum. </p>
            </li>
            <li>
                <p>On some of them, <b>course repetition and overlap is allowed</b>. From the students' perspective, it becomes challenging to determine which course is a more worthwhile investment of time. In the end, the decission will be driven by marketing or authority fallacy, and not by course quality, leading to a suboptimal use of the available resources. Having a single evolving course would be more beneficial.
                </p>
            </li>
            <li>
                <p><b>They are not thought out to integrate with universities</b>. While professors can incorporate content from these platforms into their classes as supplementary meterials, they are not meant to be comprehensive curricula.</p>
            </li>
        </ul>
        <p><i>Wikiversity</i> may be the example that most closely resembles this porposal. It is like <i>Wikipedia</i>, but for courses. However, not enough people seem to have an incentive to use it, so the content has not been developed up to a quality level comparable to that of universities. Designing a platform for this purpose is not an easy task and requires further rethinking.</p>

        <h3>Architecture of the system</h3>
        <p class="comment">All examples shown are just for architechture demonstration purposes and are not a proposal of curriculum in any way.</p>

        <h4>Structure of the curriculum – The graph</h4>
        <p>The curriculum is laid out in a directed graph containing all education:</p>
        <ul>
            <li>
                <p>nodes are the <b>units</b></p>
            </li>
            <li>
                <p>links between them represent their <b>dependencies</b></p>
            </li>
        </ul>
        <figure><img src="/static/media/graph_example.png" /></figure>
        <br>
        <p><b>Groups</b> are collections of units.</p>
        <figure style="max-width:130rem;"><img
                src="/static/media/graph_example_groups.png" /></figure>
        <p>They provide context to the graph and allow for easier dependency definitions.</p>
        <br><br>

        <h5>Guiding system</h5>
        <p>To prevent the huge amount of possible next-steps from overwhelming students, a guiding system is of vital importance.</p>
        <p>The most straighforward strategy would be having the student select target skills, so that the system checks for its dependencies and the path leading to them can be highlighted for the student to follow.</p>
        <p>Anoher approach could be implementing job offers into the system. The recommendations would greatly benefit from incorporating a job market. Employers could have the ability to post job offers, specifying their requirements. This information can then be utilized to generate personalized recommendations for students in two ways:
        </p>
        <ul>
            <li>
                <p>Students actively select a job offer and all dependencies get highlighted.</p>
            </li>
            <li>
                <p>Students just follow their interests with no specific targeted job offer, but units that lead to more job oportunities are given preference. This ensures that students acquire skills that are sought after in the job market, increasing their employability prospects.</p>
            </li>
        </ul>
        <p>Traditionally, society has allocated individuals to jobs based on limited university spots; for which priority is determined by exam scores or the ability to pay for education. However, this approach inherently requires predicting the future needs of the job market, which is not ideal. By incorporating job offers into the course recommendation engine, a more natural solution to this problem can be achieved, as it allows for a dynamic and flexible alignment of skills with job market needs.</p>
        <p>Companies would greatly benefit from creating courses, enabling employees to come prepared with the required skills. This would facilitate the transfer of know-how from companies to the educational system.</p>

        <h4>Content of the units</h4>
        <p>Units will consist on:</p>
        <ul>
            <li>
                <p>Notes resembling the traditional textbook</p>
            </li>
            <li>
                <p>An explainer video based on the notes <span
                        id="expand-video"
                        onclick="toggleExpand('video')">see note</span></p>
                <div id="expand-video">
                    <p class="comment">Video is a hard format for collaboration, and the priority are the notes. Thus, specially in the begining, an automatically generated narration of the notes will be used instead. In the future, if this is not good enough, collaborative video creation tools will be added.</p>
                    </div>
                </div>
            </li>
            <li>
                <p>A collection of tasks for the students to check if they properly understood the unit</p>
            </li>
        </ul>

        <h5>Language management</h5>
        <p>Development of the curriculum will be carried out in English and translation will be done automatically by a machine learning model.
        </p>
        <p>For situations in which the translation is not appropiate, it will be possible to override the automatic translation by the use of some specialized tags in the note's file.</p>
        <p>Once in a while, the model will be trained with the discrepancies in order to prevent future ones. This would also make older overrides unnecessary, allowing their removal.</p>

        <!--
        <h5>Recommended bibliography</h5>
        <p>There would be a section of recommended bibliography for every unit and group so that people can share useful resources and help development. It would allow for comments and up/down-voting (like in reddit) to ease ommunication and collaboration. This will be specially helpful in the early stages of development.</p>
        -->

        <h4>Proposal system for open-source curriculum development</h4>
        <p>The collaboration system is based on proposals and polls. Everybody can make proposals and vote on the polls.
        </p>
        <p>All the development will be hidden to students, who only see the last approved version while in learning mode.</p>

        <h5>Proposals</h5>
        <p>A proposal is a collection of changes.</p>
        <p>Proposals can contain both changes to units' content or to their dependencies, to allow modification of graph's topology.</p>
        <p>When a proposal is ready, it is submited for a poll.</p>

        <h5>Polls</h5>
        <p>A single-proposal poll is just a yes or no question.</p>
        <p>Polls are open for everyone to vote.</p>
        <p>Apart from the proposal and the poll itself, it also contains a commentary section, with a reddit-like up-vote/down-vote functionallity.</p>
        <figure style="max-width:80rem; margin-top:4rem; margin-bottom:4rem;">
            <img src="static/media/single_proposal_poll.png"
                style=" border-radius: 2rem; border: 12px black solid; opacity:0.9;" />
        </figure>

        <h6>Stopping criteria</h6>
        <p>The polls will stop when there is a certain minimum chance that "society's true opinion" is over a certain value; for example, if there is a 99% chance that more than 50% of society agrees with the proposal. This will be determined by a T-student test. </p>
        <p>Those two values can be adjusted to moderate the decision-making speed, and could also depend on the magnitude of the change being made.</p>
        <p>With this approach, small obvious improvements (like typo fixes) will happen fast because most of the votes will agree and statistical significance will be reached fast. On the contrary, extensive and relevant changes will take longer due to controversy in the polls.</p>
        <p>To prevent the system from being manipulated by small groups of coordinated people, apart from reaching statistical significance, a minimum time period and a minimum number of votes should be required for polls to conclude.</p>

        <h6>Multiple-proposal polls</h6>
        <p>When multiple ongoing proposals aim to modify the same part, it is considered a proposal collision, and a multiple-proposal poll is started.</p>
        <figure style="max-width:80rem; margin-top:4rem; margin-bottom:4rem;">
            <img src="static/media/multiple_proposal_poll.png"
                style=" border-radius: 2rem; border: 12px black solid; opacity:0.9;" />
        </figure>

        <p>People get to vote for their preferred option among all combinations of pairs. This allows polling all the proposals against the original and also between conflicting proposals. All polls here follow the same rules as single-proposal polls.</p>
        <p>If a small change is made to a proposal that clearly enhances it, the revised version can easily and relatively quickly replace the original proposal while retaining its accumulated votes. This approach enables collaborative improvement of a proposal without the need to restart the poll.</p>

        <h6>Vote-weighing</h6>
        <p>If necessary, votes could be weighed according to individuals' knowledge on the discussed topic. This could help amplify the most experienced and wise opinions.</p>
        <p>Weighing could consider:</p>
        <ul>
            <li>
                <p>The number of units that depend on the proposal the individual read or got certified.</p>
            </li>
            <li>
                <p>The number of total units the individual read or got certified.</p>
            </li>
            <li>
                <p>Other reputation metrics that could be derived by the contributions to the system (like the number of proposals accepted, or the proportion of votes given that aligned with the resolution, for example).</p>
            </li>
        </ul>

        <h6>Poll safety – Avoiding bots</h6>
        <p>The curriculum developed in this platform will have a significant global impact, potentially motivating the creation of bots designed to manipulate poll outcomes.</p>
        <p>This risk obligates the implementation of a robust verification method such as requiring users to authenticate their identity using their official national identification documents.</p>

        <h4>Activities</h4>
        <p>The purpose of activities in the platform is to allow students to check if they properly understood the content. They are not binding and they are not meant for certification.</p>
        <p>There are no deadlines, everything is time-independent.</p>
        <p>Depending on the neccessity of a professor's supervision, tasks can be <b>supervised</b> or <b>unsupervised.</b></p>

        <h5>Unsupervised Tasks</h5>
        <p>Unsupervised tasks are those that can be corrected unambiguously comparing the solution to the correct one. Examples of such tasks include tests, straightforward calculi in which the process is not too relevant…</p>
        <p>Everything that can be automated should be automated in the form of an unsupervised task, as they have much less cost for the platform and allow for a more effective resource allocation.</p>
        <p>With more complex activities in which the process is important, in order to avoid the supervision of a professor, there could be a collection of solved examples. You could read some, then try to do a couple and check them against the solution by yourself. This is okay for tasks which are only meant to be solved in a single way and freedom is somewhat limited.</p>

        <h5>Supervised tasks</h5>
        <p>Tasks that require creativity or do not follow a straightforward method, such as writing assignments, supervision of a professor is needed.</p>
        <p>It is important to note that these types of tasks are the most resource-intensive for the platform. Therefore, they should only be utilized when necessary. In the early stages of the platform, it may even be impractical to offer such tasks unless there is enough voluntary professor engagement or funding to support in-house professors.</p>
        <p>Organizing and coordinating professors to evaluate and provide feedback on these activities can be a challenging endeavor. It requires a well-designed system to make the process as efective as possible while keeping the cost low.</p>

        <h6>Correction control system</h6>
        <p>As anyone can log in as a professor, a control system has to be implemented in order to have the desired robustness and ensure accurate corrections.</p>
        <p>The control system will be a correction evaluator, in which professors have the opportunity to review and rate the corrections made by other professors. When a professor assigns a grade to another professor's correction, they also have the option to submit their own correction, which will be added to the pool of corrections to be evaluated by their peers.</p>
        <p>Once multiple corrections that have a good enough grading are ready, the correction process will be halted and the student will be shown a combination of the best.</p>
        <p>Professor's history of providing corrections that align with the consensus of their peers could be used to calculate some performance metrics. They could serve as a motivation for professors to actively engange in the correction process, and if incentivising professor participation is necessary, it could be used to determine appropriate remuneration for their work. This would encourage professors to maintain a high standard of accuracy and reliability in their corrections.</p>
        <p>With a robust control system in place, it would be possible for students to participate in the correction system without sacrificing the quality of the corrections. Once students feel confident in their understanding of the assignments, they have the opportunity to prepare for exams by reviewing and correcting exercises submitted by their peers, thereby contributing to the system.</p>
        <p>While it is not ideal, if a professor wants to, the platform can offer the option for closed correction groups. This means tasks done by students in that group will only be corrected by that professor, and that the profesor won't participate in the correction of the general pool of tasks.</p>
        <p>This approach deviates from the collaborative values of the platform; however, it acknowledges the importance of strong professor-student relationships, providing personalized support; and gives the platform enough flexibility to accomodate more traditional teaching methods.</p>

        <h6>AI corrector</h6>
        <p>If this system were implemented, it would generate a vast dataset of corrections along with evaluations of their quality. This presents an excellent opportunity to train a language model using reinforcement learning from human feedback.</p>
        <p>Further exploration of the details is necessary, but it could be possible to train a model to predict scores for corrections and then use it as a loss function to train another model that is capable of generating its own corrections. </p>
        <p>The platform's design allows for a gradual implementation of this AI, starting with automated correction evaluations and later slowly incorporating corrections generated by the AI itself. This would make it possible to safely experiment with its implementation.</p>
        <p>If this system proves successful, it could lead to a significant reduction in the cost of high-quality exercise correction <span id="expand-jobs" onclick="toggleExpand('jobs')">see note</span>.</p>
        <div id="expand-jobs">
            <p class="comment">The introduction of this platform may indeed reduce the need for traditional professors, which could potentially lead to job displacement. However, due to the openess of the platform, the benefits derived from it are shared for the betterment of all of humanity. The aim is not to render professors obsolete, but rather to leverage technology to enhance education and make it more accessible.</p></div>

        <h3>Implementation and integration into the current education system</h3>
        <p>As previously stated, the proposed system is meant to work together with current tertiary educational institutions.</p>
        <p>A desirable future scenario is one in which universities adhere to the open-source curriculum, contribute to it, use the freely-available content in their clases, and they record students' certifications on the platform.</p>
        <p>In order for the system to have a successful adoption, both universities and individual teachers have to have incentives to follow the curriculum and use the tools provided by the platform. In the following lines, several usecases are considered.</p>

        <h4>Teachers using the curriculum in their classes as support material</h4>
        <p>Teachers can individually choose to integrate the platform into their classes without requiring approval from their university or coordination with the platform.</p>
        <p>The main incentive for them is the quality and reliability the open-source curriculum brings.</p>
        <p>Without further implications, teachers could use the curriculum to prepare their lectures, or recommend it to students as the main or additional material of the subject.</p>
        <p>Also, students could use the exercises of the platform, both in class with the guidance of the professor, or out of class to study.</p>
        <p>If teachers want to correct exercises or access their students' results to monitor their progress, they can create a closed student group and use the tools provided by the platform.</p>

        <h4>Universities adhering to the curriculum and coordinating with the platform</h4>
        <p>The implementation of the platform could go to a further extent by the university officially adhering to the open-soruce curriculum in one, many or all of the subjects offered.
        </p>
        <p>The university could also coordinate with the platform so that when a student successfully completes a subject the certification can be recorded in the student's profile.
        </p>

        <h5>Universities offering certification service to external students</h5>
        <p>After finishing a unit, independent students could be shown a list of available certification institutions.</p>
        <p>This would help both students that prefer a more unconstrained education and universities, which will get a new source of income.</p>

        <h5>Project-oriented learning</h5>
        <p>An unexpected result of having such an atomized curriculum is that it allows a project-centered approach to education.</p>
        <p>Universities could dedicate a specific subject to projects, offering students the opportunity to choose projects aligned with their interests.</p>
        <p>Students could access content from the platform that is relevant for the project. After the professors assesment, successful application of acquired knowledge and skills would result in getting the corresponding certifications.</p>
        <p>This project-centered approach promotes active learning, critical thinking, and the development of real-world problem-solving abilities, while being compatible with a proper certification system.</p>

        <h4>Extension of the platform to secondary education</h4>
        <p>The platform is pitched towards tertiary education because that's what it is most suitable for, specially due to its content-oriented nature and the level of autonomy that can be expected from students. However, even if teaching at younger ages involves much more than content, it can also be benefitial in secondary education.</p>
        <p>The open curriculum will naturally extend to secondary education as more teachers find it useful and integrate the platform into their classrooms.</p>
    </section>

    <section>
        <p>Thank you for your time :)</p>
    </section>

    <script>
        // Apply the animation to the questions and answers
        const elements = document.querySelectorAll('section>*');
        elements.forEach((element) => {
            // add the class animated to the element
            element.classList.add('animated');
        });
    </script>

</main>

{{ end }}