{{ define "head" }}
<title>Manifiesto del currículo abierto</title>
<script src="/static/js/notes.js" defer></script>
<script src="/static/js/menu.js" defer></script>
<link rel="stylesheet" href="/static/css/menu.css">
<link rel="stylesheet" href="/static/css/manifest.css">
{{ end }}

{{ define "body" }}
<nav id="back">
    <a href="/">&lt; Volver a la página de inicio</a>
</nav>

<nav id="language">
    <a href="/manifest">EN</a>
</nav>

<main>
    <section id="intro">
        <p>El manifiesto está dividido en dos secciones principales:</p>
        <div>
            <a href="#current-situation">Un análisis de la <b>situación actual</b></a>
        </div>
        <div>
            <a href="#proposed-solution">La descripción de la <b>solución propuesta</b></a>
        </div>
    </section>

    <section id="current-situation">
        <h2>Situación actual</h2>
        <p>Las universidades siempre han sido los principales centros de aprendizaje y han desempeñado un papel clave en el progreso tecnológico e intelectual de la sociedad.</p>
        <p>Sin embargo, internet ha cambiado la forma en que accedemos a la información, haciendo el proceso más cómodo y accesible, a menudo superando a las universidades en proporcionar contenido educativo de calidad. Además, los últimos avances en inteligencia artificial abren un nuevo abanico de posibles mejoras, teniendo un gran potencial para proporcionar educación personalizada a un reducido coste.</p>
        <p>En la última veintena de años, <b>la diferencia entre el potencial impacto de la tecnología en la educación y su impacto real ha aumentado considerablemente</b>.</p>
        <br>
        <p>Antes de cualquier propuesta, me parece interesante comentar las deficiencias tanto de la educación tradicional como de la educación autodidacta en internet.</p>

        <h3>Problemas de la educación tradicional</h3>

        <h4>Enfoque erróneo respecto al ritmo de aprendizaje</h4>
        <p>Hay una excelente charla TED de Sal Khan en la que explica lo que él llama "enseñanza para la maestría" e ilustra perfectamente este problema <span id="expand-khan" onclick="toggleExpand('khan')">haz clic para ver</span>.
        </p>
        <!--
            <p class="comment">(He tomado las ideas más relevantes para que no sea necesario verlo para seguir leyendo. Sin embargo, recomiendo verlo después)</p>
        -->
        <div id="expand-khan">
        <center><iframe width="560" height="315"
                src="https://www.youtube.com/embed/-MTRxRO5SRA"
                title="Reproductor de video de YouTube" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; compartir en la web"
                allowfullscreen></iframe></center>
        </div>
        <p>En sus palabras:</p>
        <blockquote>
            <p>En el modelo académico tradicional, los estudiantes se agrupan por edad, y los llevamos a todos juntos al mismo ritmo.</p>
            <p>[...]</p>
            <p>Después de un tiempo fijo pasando por el ciclo de clases y tareas, tienes un examen, donde cada uno obtiene un resultado con el objetivo de identificar brechas en su conocimiento, y aunque el examen identificó esas brechas en su conocimiento, toda la clase pasa al siguiente tema, probablemente un tema más avanzado que se basa en esas brechas.</p>
            <p>[...]</p>
            <p>Esto continuará hasta que en algún momento, el estudiante se estrella. No porque el tema sea particularmente difícil o porque el estudiante no sea brillante; sino porque esas cosas que no sabía están apareciendo, no entiende y comienza a desconectar.</p>
            <p>[...]</p>
            <p>Nos tomamos la molestia de inspeccionar e identificar esas brechas, pero luego construimos justo encima de ellas.</p>
        </blockquote>
        <p>Explica cómo en los sistemas educativos tradicionales, lo que es fijo es el tiempo dedicado a aprender algo y lo que es variable es la comprensión lograda.</p>
        <blockquote>
            <p>La idea del aprendizaje basado en la maestría es hacer exactamente lo opuesto.
                <strong>Lo variable debe ser cuánto tiempo tiene un estudiante para trabajar en algo y lo fijo es que realmente domine el material.</strong>
            </p>
            <p>[...]</p>
            <p>No solo hará que el estudiante aprenda mejor, sino que reforzará la mentalidad correcta. Les hace darse cuenta de que si te equivocas, no significa que tengas los malos resultados marcados en tu ADN de alguna manera, solo significa que debes seguir trabajando en ello.</p>
        </blockquote>

        <p style="text-align: center;"><span id="expand-khan-additional" onclick="toggleExpand('khan-additional')">Ver algunas citas adicionales de la charla</span></p>
        <div id="expand-khan-additional">
            <p>Abordando a los escépticos que cuestionan la viabilidad de escalar el aprendizaje personalizado basado en la maestría, Khan argumenta que los avances tecnológicos han hecho que ya no sea impracticable:</p>
            <blockquote>
                <p><i>¿Quieres que los estudiantes vean una explicación a su propio tiempo y ritmo? Bueno, hay un video bajo demanda para eso. ¿Necesitan práctica? ¿Necesitan feedback? Hay ejercicios adaptativos disponibles para los estudiantes.</i></p>
            </blockquote>
            <p><br>Khan continúa presentando un maravilloso experimento mental para destacar el potencial sin explotar en la educación.</p>
            <blockquote>
                <p>Para apreciar de lo que estamos hablando y la tragedia del potencial perdido aquí. Me gustaría hacer un pequeño experimento mental:<br><br>
                Si pudiéramos ir 400 años atrás en el tiempo al oeste de Europa, que incluso entonces, era una de las partes del planeta más alfabetizadas, verías que alrededor del 15 por ciento de la población sabía leer.<br><br>
                Y sospecho que si le preguntaras a alguien que sí sabía leer, digamos un miembro del clero, "¿Qué porcentaje de la población crees que es capaz de leer?" Podrían decir, "Bueno, con un gran sistema educativo, quizás 20 o 30 por ciento." Si avanzas hasta hoy, sabemos que esa predicción habría sido tremendamente pesimista, que cerca del 100% de la población es capaz de leer.<br><br> Si te hiciera una pregunta similar: "¿Qué porcentaje de la población crees que es capaz de dominar verdaderamente el cálculo, o entender la química orgánica, o ser capaz de contribuir a la investigación del cáncer?" Muchos de ustedes podrían decir, "Bueno, con un gran sistema educativo, quizás 20, 30 por ciento."</p>
            </blockquote>
            <p>En su opinión, el desenganche es causado principalmente por la educación deficiente, no orientada a la maestría; y con un sistema educativo adecuado, esa estimación se demostrará tan pesimista como la anterior:</p>
            <blockquote>
                <p>Ese número, el porcentaje que realmente podría dominar el cálculo o entender la química orgánica, es en realidad mucho más cercano al 100 por ciento.</p>
            </blockquote>
        </div>
        <p>De cara al futuro, Khan ve la enseñanza basada en la maestría no solo como una opción deseable, sino como un imperativo social en la era de la revolución de la información; donde los avances en tecnología, como los videos bajo demanda y los ejercicios adaptativos, han hecho que el aprendizaje personalizado basado en la maestría sea más factible que nunca.</p>

        <h4>Clases basadas en la toma de notas</h4>
        <p>El formato tradicional de clase que implica copiar notas está obsoleto en la era digital. Aún así, sigue siendo la norma en la mayoría de las universidades. Hay un excelente video en el canal de YouTube de Sixty Symbols sobre este mismo tema <span id="expand-video-sixty" onclick="toggleExpand('video-sixty')">haz clic para ver</span> del cual me gustaría traer</p>
        <div id="expand-video-sixty">
        <center>
            <iframe width="560" height="315"
                src="https://www.youtube.com/embed/vv1134PLylU?si=T-EABmDQfY1pIEZo"
                title="Reproductor de video de YouTube" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; compartir en la web"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen></iframe>
        </center>
        </div>
        <ul>
            <li>una cita de Virginia Wolf:</li>
        </ul>
        <blockquote>
            <p>Las clases universitarias son una práctica obsoleta heredada de la Edad Media cuando los libros eran un bien escaso.</p>
        </blockquote>
        <ul>
            <li>y otra de autoridad incierta:</li>
        </ul>
        <blockquote>
            <p>La clase tradicional implica transferir las notas del cuaderno del profesor a los cuadernos de los estudiantes sin pasar por el cerebro de ninguno de los dos.</p>
        </blockquote>
        <p>No podría estar más de acuerdo.</p>
        <p>Aunque la toma de notas puede ayudar ligeramente con la memorización, no es un uso eficiente del tiempo y esfuerzo de los estudiantes. Escuchar con plena atención supera con creces los beneficios de copiar. <b>El contenido debe darse a los estudiantes en el formato más cómodo posible, permitiéndoles centrarse en comprender en lugar de copiar</b>. Tenemos las herramientas para solucionar esto, en muchos casos es solo cuestión de voluntad <span id="expand-notes" onclick="toggleExpand('notes')">ver nota</span>.</p>
        <div id="expand-notes">
            <p class="comment">Es muy común que los profesores guarden algunos ejemplos resueltos o ejercicios de examen para las clases, negándose a incluirlos en el material proporcionado. Siempre he odiado esto. Supongo que algunos profesores piensan que es la única manera de alentar la asistencia. A mi me parece mejor práctica asegurarse de que las clases proporcionen valor.</p>
        </div>

        <h4>Enfoque excesivo en la certificación</h4>
        <p>Las personas que enseñan son a menudo las mismas personas que preparan y corrigen los exámenes. En un mundo ideal, esto estaría bien, pero en la práctica, crea un conflicto de intereses, a menudo llevando a una enseñanza orientada al examen, mientras que el aprendizaje real se descuida.</p>
        <p>Aunque la certificación pueda ser importante, no puede ser el objetivo. <b>El aprendizaje debe ser lo primero, sin estar constreñido por la certificación</b>, y solo despues debe venir la certificación; si es que es necesario <span id="expand-cert" onclick="toggleExpand('cert')">ver nota</span>.</p>
        <div id="expand-cert">
            <p class="comment">Esto es más una opinión personal, pero la mayoría de veces está lejos de ser necesaria y es incluso contraproducente.</p>
            <p class="comment">La gente dirá: <i>"Pero, ¿qué significará tener un título si cada paso realizado no está certificado?"</i> ¿Qué significa ahora? Lamentablemente, casi nada. En el sistema actual, muchos estudiantes simplemente memorizan información para aprobar los exámenes, y olvidarla poco después. Como resultado, la certificación misma pierde su significado y no refleja ni conocimiento y comprensión genuinos.</p>
            <p class="comment">La prevalencia de pruebas en entrevistas de trabajo en algunos sectores evidencia aún más este punto. ¿Cuál es el propósito de tanta certificación si de todos modos se te somete a evaluaciones durante el proceso de solicitud de empleo?</p>
        </div>

        <h4>Mala gestión del esfuerzo y talento de los profesores</h4>

        <h5>La repetición innecesaria</h5>
        <p>Cada año y para cada asignatura, miles de profesores imparten simultáneamente lecciones sobre el mismo tema. Eso es un gran desperdicio de tiempo y esfuerzo de algunas de las personas más brillantes del mundo. Con las herramientas que tenemos hoy, el potencial de reducción de costos es inmenso.</p>
        
        <h5>El no aprovechamiento de las mejoras</h5>
        <p>La participación y la comprensión de los estudiantes depende en gran medida de la calidad de las explicaciones. Mientras que algunos profesores sobresalen en ofrecer explicaciones claras y útiles, haciendo que temas complejos sean fácilmente comprensibles; la distribución de esta competencia es bastante heterogénea.</p>
        <p><b>La educación, tal como la conocemos, no mejora cuando alguien encuentra la mejor explicación hasta la fecha sobre un tema dado. Las explicaciones excepcionales no se acumulan, no se incluyen en los currículos convencionales y no benefician a la educación tanto como podrían</b>. (Las peores tampoco se filtran, ya que en la mayoría de las instituciones educativas no hay un sistema de control efectivo, pero centrémonos en lo positivo :) ¿Cómo es posible que videos tan reveladores como los de 3Blue1Brown no estén incluidos, o al menos recomendados, en todos los cursos de Álgebra o Cálculo a nivel mundial?</p>
        <p>Como sociedad, deberíamos priorizar el desarrollo de herramientas que permitan la coordinación y cooperación de los profesores, con el fin de combinar todo el esfuerzo que actualmente se desperdicia en redundancia.</p>
        <p>Una vez que se graba una conferencia excelente, como las increíbles clases de física de Walter Lewin por ejemplo, no tiene sentido que la gente imparta versiones inferiores de las mismas explicaciones. No solo no aporta valor, sino que degrada el proceso de aprendizaje de los estudiantes. El contenido de la más alta calidad disponible debería convertirse en el estándar, hasta que algo mejor lo reemplace.</p>

        <h4>Inercia</h4>
        <p>Otro punto débil de las universidades es <b>la lentitud con la que reaccionan al entorno cambiante</b>. Esto afecta especialmente a los últimos avances tecnológicos, que a menudo se ignoran durante tanto tiempo como sea posible, creando un retraso entre lo que la sociedad necesita que la gente sepa y lo que los estudiantes están aprendiendo.</p>
        <p>Más que un signo de incompetencia o apatía de los profesores, este retraso es inherente al sistema, que tiene tanta inercia que redirigirlo requiere un esfuerzo titánico.</p>

        <h4>Las universidades no siempre están disponibles</h4>
        <p>A pesar de todas estas quejas, una educación subóptima sigue siendo preferible a ninguna en absoluto.</p>
        <p>El siguiente gráfico de <i>Our World in Data</i> muestra la proporción de la población que ha completado la educación terciaria en cada país.</p>
        <center>
            <iframe
                src="https://ourworldindata.org/grapher/share-of-the-population-with-completed-tertiary-education?time=2010"
                loading="lazy"
                style="width: 100%; height: 600px; border: 0px none;"></iframe>
        </center>
        <p>Es preocupante la proporción del globo que está en el grupo del 0 al 10%. Como se indica en la fuente, <b>en muchos de los países más pobres del mundo, menos del 1% ha completado la educación terciaria</b>. Puede ser fácil pasarlo por alto, pero eso también significa no tener médicos o ingenieros en todo el país.</p>
        <p>Para que un país logre la independencia tecnológica a largo plazo y tenga un desarrollo exitoso, una base sólida en educación superior es indispensable. Esto empodera a las comunidades locales para crear soluciones innovadoras a sus problemas, en lugar de depender de países más desarrollados.</p>

        <h3>Problemas de la educación basada en información libre y no estructurada en internet</h3>
        <p>Como se comentó anteriormente, internet es, posiblemente, la mejor fuente de conocimiento para un aprendiz ágil y "autodidacta". Sin embargo, no es una solución perfecta y tiene varias desventajas importantes.</p>

        <h4>El desorden</h4>
        <p>La abundancia de información en internet es un arma de doble filo. El proceso de autoaprendizaje en internet no siempre es claro, especialmente cuando se trata de temas avanzados. Sin cierta comprensión previa sobre el tema, puede ser difícil saber qué es importante aprender y qué no.</p>
        <p>A diferencia de la educación tradicional, <b>no hay un plan de estudios establecido ni una progresión clara de temas</b>.</p>
        <p>Las ineficiencias derivadas de esta falta de dirección pueden superar los beneficios de acceder a información de alta calidad.</p>

        <h4>La falta de fiabilidad</h4>
        <p>Otra desventaja importante es que <b>la fiabilidad del contenido no está asegurada de ninguna manera</b>. La desinformación, las perspectivas sesgadas y el material desactualizado pueden colarse fácilmente en los recursos en línea, haciendo esencial para los aprendices evaluar críticamente las fuentes con las que se encuentran.</p>

        <h4>Incompatibilidad con la certificación</h4>
        <p>La educación basada en información libre y desestructurada en internet es <b>inherentemente incompatible con la certificación</b>, que a menudo es un requisito para el empleo.</p>
        <p>Además, no hay una forma fácil de comunicar qué o cuánto has aprendido. En las universidades esta información se comprime en un solo diploma. Esto permite que, de forma prácticamente inmediata, otros puedan hacerse una idea aproximada de lo que eres capaz.</p>

        <h3>Crítica a los cursos online</h3>
        <p>Estamos presenciando un auge en los cursos online de pago que operan fuera del sistema educativo convencional.</p>
        <p>Algunas personas podrían decir que tener mercados de cursos online abrirá y descentralizará la educación; pero, en mi opinión, esto está bastante lejos de la realidad. Éstos no siguen las tan elogiadas fuerzas de mercado. Los estudiantes realmente no pueden comparar los cursos, ya que las personas normalmente no se inscriben en múltiples cursos sobre el mismo tema para hacer comparaciones informadas. En cambio, el proceso de toma de decisiones a menudo se basa en la falacia de autoridad y tácticas de marketing. De esta manera, en lugar de permitir que los creadores pequeños se ganen la vida, lo que está sucediendo es que las universidades están siendo reemplazadas por una tendencia de <i>masterclasses</i> online impartidas por celebridades (que no necesariamente son buenos docentes).</p>
        <p>En cuanto a la certificación, es casi imposible saber cómo se tomará en consideración un curso, ya que son practicamente lo opuesto a la estandarización.</p>
        <p>¿Qué depara el futuro para la educación? ¿Desaparecerán las universidades, dejando la educación basada, únicamente, en una multitud de cursos ofrecidos en plataformas como Udemy o Masterclass? Sinceramente, no importa cuán excelente sea el contenido, <b>no creo que estas plataformas puedan igualar a las universidades en guiar el desarrollo educativo de las personas</b>.</p>
        <p>No digo que estos cursos comerciales no sean útiles o que no aporten valor, ni que los creadores no deban ser recompensados económicamente por su esfuerzo. Simplemente no son como creo que debería funcionar la educación. Apoyarse en ellos para compensar las ineficiencias de las universidades podría ser más peligroso de lo que parece.</p>
    </section>

    <section id="proposed-solution">
        <h2>Solución propuesta</h2>

        <h3>Visión general</h3>
        <p>La propuesta consiste en una plataforma en la que se pueda llevar a cabo el <b>desarrollo colaborativo de un curriculo de alta calidad</b>.</p>
        <p>El plan de estudios resultante será <b>libremente accesible en internet</b>.</p>
        <p>La plataforma también servirá como un <b>estándar para la certificación</b>, que universidades y otras entidades puedan utilizar.</p>
        <br>
        <p>Los profesores universitarios podrán utilizar el contenido de la plataforma como referencia para sus clases, así como contribuir a su desarrollo.</p>
        <p>Sería una herramienta para que los profesores <b>unan esfuerzos y cooperen</b>, en lugar de hacer todo el trabajo de forma independiente y redundante. Habría un currículo único optimizado para el mejor proceso de aprendizaje.</p>
        <p>Como está diseñado y acordado por profesores de universidades que se adhieren a él, estaría <b><i>peer-reviewed</i> por diseño</b>. Esto serviría como un mecanismo de control de calidad, mejoraría la transparencia y eliminaría los sesgos y la adoctrinación, ofreciendo un plan de estudios <b>confiable y riguroso</b>.</p>
        <br>
        <p>Las universidades seguirán siendo el principal órgano de certificación. Podrían diseñar tareas de certificación, como exámenes o proyectos, para verificar que el estudiante tiene los conocimientos requeridos. Después de un resultado satisfactorio, lo podrían registrar en la plataforma.</p>
        <p>Por otro lado, el sistema también permitiría una educación universitaria sin la obligatoriedad de pasar por la certificación, mientras se mantiene la <b>opción de obtener una certificación por una universidad cuando y si el estudiante lo encuentra necesario</b>. Esta es una gran ventaja sobre los cursos online independientes, que no se adhieren a ningún estándar.</p>
        <br>
        <p>Esta compilación de los mejores cursos posibles estará libremente accesible en internet, lo que significa que <b>todas las personas del mundo tendrán acceso a una educación tan buena como la de las mejores universidades</b>. Esto tendrá un enorme impacto positivo en los países en desarrollo donde la educación terciaria no está disponible o no es asequible. Reducirá la desigualdad y promoverá el progreso y desarrollo global.</p>
        <br>
        <p>Otros beneficios del sistema serían:</p>
        <ul>
            <li><b>Permitir la educación asíncrona</b>. Para estudiantes independientes de la universidad, la planificación no estaría determinada por la edad y no habría plazos. Podrían aprender a su ritmo, permitiendo la mencionada "enseñanza para la maestría".</li>
            <li><b>Evitar que el proceso de aprendizaje esté orientado a la certificación</b>. Esto se logra gracias al desacoplamiento entre la creación del currículo y la certificación.
            <li></li>
            <li><b>Mejorar la flexibilidad del sistema educativo y su permeabilidad a los avances tecnológicos</b>. Los expertos en un tema emergente pueden crear un curso para él o integrarlo con cursos existentes. No es necesario esperar a que todos los profesores estén educados en una materia para poder difundir ese conocimiento. Es una solución mucho más ágil.</li>
            <li><b>Simplificar y promover una mayor movilidad académica</b>. Con un currículo estandarizado, los estudiantes podrían estudiar fácilmente en varias universidades sin preocuparse por las complejidades de convalidar sus créditos o programas académicos.</li>
        </ul>
        <br>
        <p>En resumen, tiene como objetivo aprovechar internet al máximo para hacer que la educación universitaria sea lo mejor posible.</p>

        <h3>¿En qué se diferencia de otras soluciones existentes?</h3>
        <p>Esta no es la primera plataforma de enseñanza en línea gratuita y abierta. Varias plataformas exitosas, como <i>MIT OpenCourseWare</i>, <i>Khan Academy</i>, <i>OpenLearn</i> y <i>edX</i>, ya ofrecen un vasto catálogo de excelentes cursos.</p>
        <p>Sin embargo,</p>
        <ul>
            <li>
                <p><b>No disponen de herramientas para la creación de cursos colaborativa.</b></p>
            </li>
            <li>
                <p>Los cursos en muchas de estas plataformas a menudo funcionan como entidades independientes, <b>faltando dependencias claras y un camino de aprendizaje coherente</b>. Son más un catálogo de cursos que un currículo universitario completo.</p>
            </li>
            <li>
                <p>En algunas de ellas, se permite la <b>repetición y superposición de cursos</b>. Desde la perspectiva de los estudiantes, se vuelve desafiante determinar qué curso es una inversión más valiosa de tiempo. Tener un curso único en evolución sería más beneficioso.
                </p>
            </li>
            <li>
                <p><b>No están pensadas para integrarse con las universidades</b>. Mientras que los profesores pueden incorporar contenido de estas plataformas en sus clases como materiales suplementarios, no están destinadas a ser currículos integrales.</p>
            </li>
        </ul>
        <p><i>Wikiversity</i> puede ser el ejemplo que más se asemeja a esta propuesta. Es como <i>Wikipedia</i>, pero para cursos. Sin embargo, no parece que suficientes personas tengan incentivos para usarla, por lo que el contenido no se ha desarrollado hasta un nivel de calidad comparable al de las universidades. Diseñar una plataforma para este propósito no es una tarea fácil y requiere una mayor reflexión.</p>

        <h3>Arquitectura del sistema</h3>
        <p class="comment">Los ejemplos mostrados son solo para demostración y no una propuesta de currículo.</p>

        <h4>Estructura del currículo – El grafo</h4>
        <p>El currículo se presenta en un grafo dirigido:</p>
        <ul>
            <li>
                <p>los nodos son las <b>unidades</b></p>
            </li>
            <li>
                <p>los enlaces entre ellas representan sus <b>dependencias</b></p>
            </li>
        </ul>
        <figure><img src="/static/media/graph_example.png" /></figure>
        <br>
        <p><b>Grupos</b> son colecciones de unidades.</p>
        <figure style="max-width:130rem;"><img
                src="/static/media/graph_example_groups.png" /></figure>
        <p>Proporcionan contexto al grafo y permiten definiciones de dependencia más simples.</p>
        <br><br>

        <h5>Sistema de guía</h5>
        <p>Para evitar que la enorme cantidad de posibles próximos pasos abrume a los estudiantes, un sistema de guía es de vital importancia.</p>
        <p>La estrategia más sencilla sería que el estudiante seleccione habilidades objetivo, de modo que el sistema encuentre sus dependencias y el camino que lleva a ellas pueda ser resaltado para que el estudiante lo siga.</p>
        <p>Otro enfoque podría ser implementar ofertas de trabajo en el sistema. Las recomendaciones se beneficiarían enormemente de incorporar un mercado laboral al final del camino. Los empleadores podrían publicar ofertas de trabajo, especificando sus requisitos. Esta información podría utilizarse para generar recomendaciones personalizadas para los estudiantes de dos maneras:
        </p>
        <ul>
            <li>
                <p>Los estudiantes seleccionan activamente una oferta de trabajo y todas las dependencias se resaltan.</p>
            </li>
            <li>
                <p>Los estudiantes simplemente siguen sus intereses sin una oferta de trabajo específica, pero se da preferencia a las unidades que conducen a más oportunidades laborales. Esto garantiza que los estudiantes adquieran habilidades buscadas en el mercado laboral, aumentando su empleabilidad.</p>
            </li>
        </ul>
        <p>Tradicionalmente, la sociedad ha asignado individuos a trabajos basándose en plazas universitarios limitadas; para los cuales la prioridad se determina por las calificaciones de los exámenes o la capacidad de pagar por la educación. Sin embargo, esto requiere predecir las futuras necesidades del mercado laboral, algo bastante complicado de hacer bien. Al incorporar ofertas de trabajo en el motor de recomendaciones de cursos, se puede lograr una solución más natural a este problema, ya que permite una alineación dinámica y flexible de las habilidades con las necesidades del mercado laboral.</p>
        <p>Las empresas se beneficiarían enormemente de crear cursos, permitiendo que los empleados lleguen preparados con las habilidades requeridas. Esto facilitaría la transferencia de conocimientos de las empresas al sistema educativo.</p>

        <h4>Contenido de las unidades</h4>
        <p>Las unidades consistirán en:</p>
        <ul>
            <li>
                <p><b>Notas</b> que se asemejan al libro de texto tradicional</p>
            </li>
            <li>
                <p>Un <b>video explicativo</b> basado en las notas <span
                        id="expand-video"
                        onclick="toggleExpand('video')">ver nota</span></p>
                <div id="expand-video">
                    <p class="comment">El video es un formato difícil para la colaboración, y la prioridad son las notas. Por lo tanto, especialmente al principio, se usará una narración generada automáticamente de las notas. En el futuro, se agregarán herramientas de creación de video colaborativo.</p>
                    </div>
                </div>
            </li>
            <li>
                <p>Una colección de <b>tareas</b> para que los estudiantes verifiquen si entendieron correctamente la unidad</p>
            </li>
        </ul>

        <h5>Gestión del idioma</h5>
        <p>El desarrollo del currículo se llevará a cabo en inglés y la traducción se hará automáticamente mediante un modelo de <i>machine learning</i>.
        </p>
        <p>Para situaciones en las que la traducción no sea apropiada, será posible corregir la traducción automática mediante el uso de algunas etiquetas especializadas en el archivo de notas.</p>
        <p>De vez en cuando, el modelo se entrenará con las discrepancias para evitar futuras. Esto también haría innecesarias algunas anulaciones antiguas, permitiendo su eliminación.</p>

        <!--
        <h5>Bibliografía recomendada</h5>
        <p>Habría una sección de bibliografía recomendada para cada unidad y grupo para que las personas puedan compartir recursos útiles y ayudar en el desarrollo. Permitiría comentarios y votaciones positivas/negativas (como en reddit) para facilitar la comunicación y colaboración. Esto será especialmente útil en las primeras etapas de desarrollo.</p>
        -->

        <h4>Sistema de propuestas para el desarrollo de currículo de código abierto</h4>
        <p>El sistema de colaboración se basa en propuestas y encuestas. Todos pueden hacer propuestas y votar en las encuestas.
        </p>
        <p>Todo el desarrollo estará oculto a los estudiantes, quienes solo ven la última versión aprobada mientras están en modo de aprendizaje.</p>

        <h5>Propuestas</h5>
        <p>Una propuesta es una colección de cambios.</p>
        <p>Las propuestas pueden contener cambios tanto en el contenido de las unidades como en sus dependencias, para permitir la modificación de la topología del grafo.</p>
        <p>Cuando una propuesta está lista, se envía a votación.</p>

        <h5>Votaciones</h5>
        <p>Una votación de una sola propuesta es solo una pregunta de sí o no.</p>
        <p>Cualquiera puede votar en ellas.</p>
        <p>Aparte de la propuesta y la votación en sí, también contiene una sección de comentarios, con funcionalidad de <i>upvote/downvote</i> al estilo de reddit.</p>
        <figure style="max-width:80rem; margin-top:4rem; margin-bottom:4rem;">
            <img src="static/media/single_proposal_poll.png"
                style="border-radius: 2rem; border: 12px black solid; opacity:0.9;" />
        </figure>

        <h6>Criterios de parada</h6>
        <p>Las encuestas se detendrán cuando haya una cierta probabilidad mínima de que "la verdadera opinión de la sociedad" esté por encima de un cierto valor; por ejemplo, si hay un 99% de probabilidad de que más del 50% de la sociedad esté de acuerdo con la propuesta. Esto se determinará mediante una prueba T-student. </p>
        <p>Esos dos valores se pueden ajustar para moderar la velocidad de toma de decisiones, y también podrían depender de la magnitud del cambio que se esté realizando.</p>
        <p>Con este enfoque, las mejoras pequeñas y obvias (como correcciones de errores tipográficos) ocurrirán rápidamente porque la mayoría de los votos estarán de acuerdo y se alcanzará la significatividad estadística rápidamente. Por el contrario, los cambios extensos y relevantes tomarán más tiempo debido a la controversia en las encuestas.</p>
        <p>Para evitar que el sistema sea manipulado por pequeños grupos de personas coordinadas, aparte de alcanzar la significatividad estadística, se debería requerir un período mínimo de tiempo y un número mínimo de votos para que las encuestas concluyan. Cuantas más personas usen la plataforma, más segura será frente a este tipo de ataques.</p>

        <h6>Encuestas de múltiples propuestas</h6>
        <p>Cuando varias propuestas en curso buscan modificar la misma parte, se considera una colisión de propuestas, y se inicia una encuesta de múltiples propuestas.</p>
        <figure style="max-width:80rem; margin-top:4rem; margin-bottom:4rem;">
            <img src="static/media/multiple_proposal_poll.png"
                style="border-radius: 2rem; border: 12px black solid; opacity:0.9;" />
        </figure>

        <p>Las personas pueden votar por su opción preferida entre todas las combinaciones. Esto permite votar todas las propuestas contra la original y también entre las propuestas en conflicto. Todas las encuestas aquí siguen las mismas reglas que las encuestas de una sola propuesta.</p>
        <p>Si se realiza un pequeño cambio en una propuesta que claramente la mejora, la versión revisada puede reemplazar fácil y relativamente rápido a la propuesta original mientras conserva sus votos acumulados. Este enfoque permite la mejora colaborativa de una propuesta sin necesidad de reiniciar la encuesta.</p>

        <h6>Ponderación de votos</h6>
        <p>Si es necesario, los votos podrían ponderarse según el conocimiento de los individuos sobre el tema discutido. Esto podría ayudar a amplificar las opiniones más experimentadas y sabias.</p>
        <p>La ponderación podría considerar:</p>
        <ul>
            <li>
                <p>El número de unidades que dependen de la propuesta que el individuo leyó o certificó.</p>
            </li>
            <li>
                <p>El número total de unidades que el individuo leyó o certificó.</p>
            </li>
            <li>
                <p>Otras métricas de reputación que podrían derivarse de las contribuciones al sistema (como el número de propuestas aceptadas, o la proporción de votos dados que se alinearon con la resolución, por ejemplo).</p>
            </li>
        </ul>

        <h6>Protección ante bots</h6>
        <p>El currículo desarrollado en esta plataforma tendrá un impacto global significativo, lo que podría motivar la creación de bots diseñados para manipular los resultados de las encuestas.</p>
        <p>Este riesgo obliga a la implementación de un método de verificación sólido, como requerir que los usuarios autentiquen su identidad utilizando sus documentos nacionales de identificación oficiales.</p>

        <h4>Actividades</h4>
        <p>El propósito de las actividades en la plataforma es permitir que los estudiantes verifiquen si entendieron correctamente el contenido. No son vinculantes y no están destinadas para la certificación.</p>
        <p>No hay plazos, todo es independiente del tiempo.</p>
        <p>Dependiendo de la necesidad de supervisión de un profesor, las tareas pueden ser <b>supervisadas</b> o <b>no supervisadas.</b></p>

        <h5>Tareas no supervisadas</h5>
        <p>Las tareas no supervisadas son aquellas que pueden corregirse de manera inequívoca comparando la solución con la correcta, como ejercicios o cálculos sencillos en los que el proceso no es demasiado relevante.</p>
        <p>Todo lo que pueda automatizarse debería ser automatizado en forma de una tarea no supervisada, ya que tienen mucho menos costo para la plataforma y permiten una asignación de recursos más efectiva.</p>
        <p>Con actividades más complejas en las que el proceso es importante, para evitar la supervisión de un profesor, podría haber una colección de ejemplos resueltos. Podrías leer algunos, luego intentar hacer un par y verificarlos contra la solución por ti mismo. Esto está bien para tareas que solo están destinadas a resolverse de una manera y la libertad sea considerablemente limitada.</p>

        <h5>Tareas supervisadas</h5>
        <p>Las tareas que requieren creatividad o no siguen un método directo, como las redacciones, necesitan la supervisión de un profesor.</p>
        <p>Es importante señalar que este tipo de tareas son las más intensivas en recursos para la plataforma. Por lo tanto, solo deben utilizarse cuando sea necesario. En las primeras etapas de la plataforma, puede incluso no ser viable ofrecer tales tareas a menos que haya suficiente compromiso de profesores voluntarios o financiación para apoyar a profesores internos.</p>
        <p>Organizar y coordinar a los profesores para evaluar y proporcionar correcciones sobre estas actividades puede ser complicado. Requiere un sistema bien diseñado para hacer el proceso lo más efectivo posible sin disparar el coste.</p>

        <h6>Sistema de control de correcciones</h6>
        <p>Como cualquiera puede iniciar sesión como profesor, se debe implementar un sistema de control para tener la solidez deseada y garantizar correcciones precisas.</p>
        <p>El sistema de control será un evaluador de correcciones, en el que los profesores tienen la oportunidad de revisar y calificar las correcciones hechas por otros profesores. Cuando un profesor asigna una calificación a la corrección de otro profesor, también tienen la opción de enviar su propia corrección, que se agregará al grupo de correcciones para ser evaluadas por otros profesores.</p>
        <p>Una vez que varias correcciones que tienen una calificación suficientemente buena estén listas, el proceso de corrección se detendrá y al estudiante se le mostrará una combinación de las mejores (en el sentido de que muchos profesores están de acuerdo con la corrección, no de que el resultado de la evaluación sea más favorable para el alumno, claro).</p>
        <p>El historial del profesor de proporcionar correcciones que se alineen con el consenso de la comunidad podría usarse para calcular algunas métricas de rendimiento. Podrían servir como motivación para que los profesores participen activamente en el proceso de corrección, y si es necesario, incentivar la participación de los profesores, podría usarse para determinar la remuneración adecuada por su trabajo. Esto alentaría a los profesores a mantener un alto estándar de precisión y fiabilidad en sus correcciones.</p>
        <p>Con un sistema de control sólido, sería posible que incluso los estudiantes participaran en el sistema de corrección sin sacrificar la calidad de las correcciones. Una vez se sientan seguros en su comprensión de las tareas, tienen la oportunidad de prepararse para los exámenes revisando y corrigiendo ejercicios enviados por sus compañeros, contribuyendo así al funcionamiento del sistema.</p>
        <p>Aunque no es ideal, si un profesor lo desea, la plataforma puede ofrecer la opción de grupos de corrección cerrados. Esto significa que las tareas realizadas por estudiantes en ese grupo solo serán corregidas por ese profesor, y que el profesor no participará en la corrección del grupo general de tareas.</p>
        <p>Este enfoque se desvía de los valores colaborativos de la plataforma; sin embargo, reconoce la importancia de las relaciones fuertes entre profesor y estudiante, proporcionando apoyo personalizado; y da a la plataforma suficiente flexibilidad para acomodar métodos de enseñanza más tradicionales.</p>

        <h6>Corrector de IA</h6>
        <p>Si se implementara este sistema, generaría un vasto conjunto de datos de correcciones junto con evaluaciones de su calidad. Esto presenta una excelente oportunidad para entrenar un modelo de lenguaje utilizando RLHF (aprendizaje por refuerzo a partir de la retroalimentación humana)<span id="expand-RLHF" onclick="toggleExpand('RLHF')">ver nota</span>.</p>
        <div id="expand-RLHF">
            <p class="comment">Se necesita una mayor exploración de los detalles, pero podría entrenarse un modelo para predecir las puntuaciones de las correcciones y luego usarlo como función de pérdida para entrenar otro modelo que sea capaz de generar sus propias correcciones. Es una estrategia muy similar a la seguida para el fine-tuning de chatgpt.</p>
        </div>
        <p>El diseño de la plataforma permite una implementación gradual de esta IA, comenzando con evaluaciones de corrección automatizadas y luego incorporando lentamente correcciones generadas por la IA misma. Esto haría posible experimentar de manera segura con su implementación.</p>
        <p>Si este sistema resulta exitoso, podría llevar a una reducción significativa en el costo de la corrección de ejercicios de alta calidad <span id="expand-jobs" onclick="toggleExpand('jobs')">ver nota</span>.</p>
        <div id="expand-jobs">
            <p class="comment">La introducción de esta plataforma puede reducir la necesidad de profesores tradicionales, lo que podría llevar al desplazamiento de empleos. Sin embargo, debido a la apertura de la plataforma, los beneficios derivados de ella se comparten para el beneficio de toda la humanidad. El objetivo no es quitarles el trabajo a los profesores, sino aprovechar la tecnología para mejorar la educación y hacerla más accesible.</p>
        </div>

        <h3>Implementación e integración en el sistema educativo actual</h3>
        <p>Como se mencionó anteriormente, el sistema propuesto está destinado a trabajar junto con las instituciones educativas terciarias actuales.</p>
        <p>Un escenario futuro deseable es uno en el que las universidades se adhieran al currículo abierto, contribuyan a él, utilicen el contenido en sus clases y registren las certificaciones de los estudiantes en la plataforma.</p>
        <p>Para que el sistema tenga una adopción exitosa, tanto las universidades como los profesores tienen que tener incentivos para seguir el currículo y usar las herramientas proporcionadas por la plataforma. A continuación, se consideran varios casos de uso.</p>

        <h4>Profesores que utilizan el currículo en sus clases como material de apoyo</h4>
        <p>Los profesores pueden elegir integrar la plataforma en sus clases sin requerir la aprobación de su universidad o la coordinación con la plataforma.</p>
        <p>El principal incentivo para ellos es la calidad y fiabilidad que aporta el currículo abierto.</p>
        <p>Sin más implicaciones, los profesores podrían usar el currículo para preparar sus clases, o recomendarlo a los estudiantes como el material principal o adicional de la asignatura.</p>
        <p>También, los estudiantes podrían usar los ejercicios de la plataforma, tanto en clase con la guía del profesor, como fuera de clase para estudiar.</p>
        <p>Si los profesores desean corregir ejercicios o acceder a los resultados de sus estudiantes para monitorear su progreso, pueden crear un grupo de estudiantes cerrado y usar las herramientas proporcionadas por la plataforma.</p>

        <h4>Universidades que se adhieren al currículo y coordinan con la plataforma</h4>
        <p>La implementación de la plataforma podría ir más allá con la universidad adhiriéndose oficialmente al currículo abierto en una, varias o todas las asignaturas ofrecidas.</p>
        <p>La universidad también podría coordinarse con la plataforma para que cuando un estudiante complete con éxito una asignatura, la certificación pueda registrarse en el perfil del estudiante.</p>

        <h5>Universidades que ofrecen servicio de certificación a estudiantes externos</h5>
        <p>Después de terminar una unidad, a los estudiantes independientes se les podría mostrar una lista de instituciones de certificación disponibles.</p>
        <p>Esto ayudaría tanto a los estudiantes, que prefieren una educación menos rígida, como a las universidades, que obtendrían una fuente de ingresos adicional.</p>

        <h5>Aprendizaje orientado a proyectos</h5>
        <p>Un resultado inesperado de tener un currículo tan atomizado es que permite un enfoque centrado en proyectos para la educación.</p>
        <p>Las universidades podrían dedicar una asignatura específica a proyectos, ofreciendo a los estudiantes la oportunidad de elegir proyectos alineados con sus intereses.</p>
        <p>Los estudiantes podrían acceder al contenido de la plataforma que sea relevante para el proyecto. Después de la evaluación de los profesores, la aplicación exitosa del conocimiento y habilidades adquiridos resultaría en la obtención de las certificaciones correspondientes.</p>
        <p>Este enfoque centrado en proyectos promueve el aprendizaje activo, el pensamiento crítico y el desarrollo de habilidades para resolver problemas del mundo real, mientras que sigue siendo compatible con un sistema de certificación adecuado.</p>

        <h4>Extensión de la plataforma a la educación secundaria</h4>
        <p>La plataforma está dirigida hacia la educación terciaria porque es el entorno al que mejor se adecúa, especialmente debido a su naturaleza orientada al contenido y el nivel de autonomía que se puede esperar de los estudiantes. Sin embargo, aunque la enseñanza a edades más tempranas implica mucho más que contenido, también puede ser beneficiosa en la educación secundaria.</p>
        <p>El currículo abierto se extenderá naturalmente a la educación secundaria a medida que más profesores lo encuentren útil e integren la plataforma en sus aulas.</p>
    </section>

    <section>
        <p>Gracias por el tiempo que le has dedicado a leerlo :)</p>
    </section>

    <script>
        // Aplica la animación a las preguntas y respuestas
        const elements = document.querySelectorAll('section>*');
        elements.forEach((element) => {
            // añade la clase animated al elemento
            element.classList.add('animated');
        });
    </script>

</main>

{{ end }}
