{{ define "main" }}
<script>collapseHeader();</script>
<section>
    <div id="language">
        <a href="/set-language?lang=en&redirect={{.URL | urlquery}}">EN</a>
        &nbsp;|&nbsp;
        <a href="/set-language?lang=es&redirect={{.URL | urlquery}}">ES</a>
        &nbsp;|&nbsp;
        <a href="/set-language?lang=eu&redirect={{.URL | urlquery}}">EU</a>
    </div>
</section>
{{ end }}
