{{ define "head" }}
<title>Units</title>
<link rel="stylesheet" href="/static/css/graph.css">
<link rel="stylesheet" href="/static/css/teach_and_learn.css">
<link rel="stylesheet" href="/static/css/teach.css">
<script src="/static/js/graph.js" defer></script>
{{ end }}

{{ define "body" }}
<nav id="top_bar">
    <a href="/"><img id="logo" src="/static/media/logo.svg"></a>
    <a href="/teach/proposals">Curriculum design</a>
    <a href="/teach/tasks">Tasks</a>
    <a href="/teach/certifications">certifications</a>
</nav>

{{ block "main" . }}
<main>
    <div id="graph">
        
        {{ if .PositionedGraph.PositionedUnits }}
            {{ $activeProposalID := .ActiveProposal.ID}}
            {{ range .PositionedGraph.PositionedUnits }}
                {{ if eq .Unit.Type "ProposedCreation" }}
                    <a>
                        <div class="unit proposed-creation" id="unit-{{ .Unit.ChangeID }}" style="--horizontal-position: {{.HorizontalPosition}}">
                            <div class="node" id="node-{{ .Unit.ChangeID}}" ></div>
                            <p>{{ .Unit.Name }}</p>
                            <div class="controls">
                                <button class="edit" >Edit content</button>
                                <button class="rename" hx-put="/teach/proposal/{{ $activeProposalID }}/unit_creation/{{ .Unit.ChangeID }}?active_proposal_id={{ $activeProposalID }}" hx-target="body" hx-swap="outerHTML">Rename</button>
                                <button class="deps" >Edit dependencies</button>
                                <button class="undo" hx-delete="/teach/proposal/{{ $activeProposalID }}/unit_creation/{{ .Unit.ChangeID }}?active_proposal_id={{ $activeProposalID }}" hx-target="body" hx-swap="outerHTML">Undo</button>
                            </div>
                        </div>
                    </a>
                {{ else if eq .Unit.Type "ProposedDeletion" }}
                    <a>
                        <div class="unit proposed-deletion" id="unit-{{ .Unit.ID }}" style="--horizontal-position: {{.HorizontalPosition}}">
                            <div class="node" id="node-{{ .Unit.ID}}" ></div>
                            <p>{{ .Unit.Name }}</p>
                            <div class="controls">
                                <button class="undo" hx-delete="/teach/proposal/{{ $activeProposalID }}/unit_deletion/{{ .Unit.ChangeID }}?active_proposal_id={{ $activeProposalID }}" hx-target="body" hx-swap="outerHTML">Undo</button>
                            </div>
                        </div>
                    </a>
                {{ else }}
                    <a hx-get="/unit/{{.Unit.ID}}/details" hx-target="#details">
                        <div class="unit existing" id="unit-{{ .Unit.ID }}" style="--horizontal-position: {{.HorizontalPosition}}">
                            <div class="node" id="node-{{ .Unit.ID}}" ></div>
                            <p>{{ .Unit.Name }}</p>
                            {{ if not ( eq $activeProposalID 0 )}}
                                <div class="controls">
                                    <button class="edit">Edit content</button>
                                    <button class="rename">Rename</button>
                                    <button class="deps">Edit dependencies</button>
                                    <button class="certs">Copy certifications to</button>
                                    <button class="delete" hx-put="/teach/proposal/{{ $activeProposalID }}/unit_deletion/{{ .Unit.ID }}?active_proposal_id={{ $activeProposalID }}" hx-target="body" hx-swap="outerHTML">Delete</button>
                                </div>
                            {{ end }}
                        </div>
                    </a>
                {{ end }}
            {{ end }}
        {{ end }}

        {{ if not (eq .ActiveProposal.ID 0)}}
            <form hx-post="/teach/proposal/{{.ActiveProposal.ID}}/unit_creation?active_proposal_id={{.ActiveProposal.ID}}" hx-target="body">
                <input type="text" name="name" placeholder="Unit name">
                <button type="submit">Create unit</button>
            </form>
        {{ else }}
            <p>Activate a proposal to see curriculum modification tools</p>
        {{ end }}

    </div>
    <div id="details">
    {{ block "unit_details" .}}
        {{ if .Unit }}
        {{ with .Unit}}
            <h2>{{.Name}}</h2>
            <p>{{.Content}}</p>
        {{ end }}
        {{ else }}
            <p>Select a unit to view its details</p>
        {{ end }}
    {{ end }}
    </div>

    <div id="bottom-bar">
        {{ block "proposals-bar" .}}
            <div id="proposals-bar">
                {{ if .Proposals }}
                Active proposal
                <select hx-get="/teach" hx-target="body" hx-trigger="change" hx-include="#active-proposal" id="active-proposal" name="active_proposal_id" hx-replace-url="true">
                    {{ if eq .ActiveProposal.ID 0 }}
                        <option value="0" selected>None</option>
                    {{ else }}
                        <option value="0">None</option>
                    {{ end }}
                    {{ range .Proposals }}
                        {{ if eq .ID $.ActiveProposal.ID }}
                            <option value="{{ .ID }}" selected>{{ .Title }}</option>
                        {{ else }}
                            <option value="{{ .ID }}" >{{ .Title }}</option>
                        {{ end }}
                    {{ end }}
                </select>
                {{ if not (eq .ActiveProposal.ID 0) }}
                    <button id="proposal-details-button">Details</button>
                {{ end }}
                <button id="create-proposal-button">+</button>
                {{ else }}
                <button id="create-proposal-button">Create new proposal</button>
                {{ end }}
            </div>
        {{ end }}
        <div id="polls">
            <a href="/teach/polls">See polls</a>
        </div>
    </div>

    <dialog id="create-proposal-dialog">
        <button id="create-proposal-close" class="close">✕</button>
        <form hx-post="teach/proposal/create" hx-target="main" hx-swap="outerHTML">
            <input type="text" name="title" placeholder="Proposal title">
            <input type="text" name="description" placeholder="Proposal description">
            <button type="submit">Create proposal</button>
        </form>
    </dialog>

    <dialog id="proposal-details-dialog">
        <button id="proposal-details-close" class="close">✕</button>
        <form hx-put="/teach/proposal/{{ .ActiveProposal.ID }}/update" hx-target="main" hx-swap="outerHTML">
            <label for="proposal-title">Title</label>
            <input type="text" id="proposal-title" name="title" value="{{ .ActiveProposal.Title }}" required>
            <br>
            <label for="proposal-description">Description</label>
            <textarea id="proposal-description" name="description" required>{{ .ActiveProposal.Description }}</textarea>
            <br>
            <button type="submit">Save Changes</button>
        </form>
        <div id="changes-list">
            <h3>Changes</h3>
                {{ $activeProposalID := .ActiveProposal.ID }}
                {{ range .ActiveProposal.Changes }}
                    {{ $change := . }}
                    {{ if (typeIs "models.UnitCreation" $change) }}
                        <div class="change">
                            <div class="type green">CREATE UNIT</div>
                            <div>{{ $change.Name }}</div>
                            <a class="undo" hx-delete="/teach/proposal/{{ $activeProposalID }}/unit_creation/{{ $change.ID }}?active_proposal_id={{ $activeProposalID }}" hx-target="#changes-list" hx-select="#changes-list" hx-swap="outerHTML">Undo</a>
                        </div>
                    {{ else if (typeIs "models.UnitDeletion" $change) }}
                        <div class="change">
                            <div class="type red">DELETE UNIT</div>
                            <div>{{ $change.UnitID }}</div>
                            <a class="undo" hx-delete="/teach/proposal/{{ $activeProposalID }}/unit_deletion/{{ $change.ID }}?active_proposal_id={{ $activeProposalID }}" hx-target="#changes-list" hx-select="#changes-list" hx-swap="outerHTML">Undo</a>
                        </div>
                    {{ else if (typeIs "models.UnitUpdate" $change) }}
                        <li>Updated unit ID: {{ $change.UnitID }}, new name: {{ $change.Name }}</li>
                    {{ else if (typeIs "models.DependencyCreation" $change) }}
                        <li>Created dependency from unit ID: {{ $change.UnitID }} to {{ $change.DependsOnID }}</li>
                    {{ else if (typeIs "models.DependencyDeletion" $change) }}
                        <li>Deleted dependency from unit ID: {{ $change.UnitID }} to {{ $change.DependsOnID }}</li>
                    {{ else if (typeIs "models.DocumentModification" $change) }}
                        <li>Modified document in unit ID: {{ $change.UnitID }}, content: {{ $change.Content }}</li>
                    {{ else if (typeIs "models.DocumentFileUpload" $change) }}
                        <li>Uploaded file for unit ID: {{ $change.UnitID }}</li>
                    {{ else if (typeIs "models.VideoModification" $change) }}
                        <li>Modified video in unit ID: {{ $change.UnitID }}, content: {{ $change.Content }}</li>
                    {{ end }}
                {{ end }}
        </div>
        <button hx-delete="teach/proposal/{{ .ActiveProposal.ID }}" hx-target="main" hx-swap="outerHTML" class="red">Delete</button>
        <button hx-put="teach/proposal/{{ .ActiveProposal.ID }}/submit" hx-target="body" hx-replace-url="true">Submit</button>
    </dialog>

    <script>
        function initializeCreateProposalDialog() {
            var createProposalDialog = document.getElementById('create-proposal-dialog');
            var createProposalButton = document.getElementById('create-proposal-button');
            var createProposalClose = document.getElementById('create-proposal-close');
            var createProposalSubmit = document.querySelector('#create-proposal-dialog form button[type="submit"]');
            
            createProposalButton.addEventListener('click', () => {
                createProposalDialog.showModal();
            });

            createProposalClose.addEventListener('click', () => {
                createProposalDialog.close();
            });

            createProposalSubmit.addEventListener('click', () => {
                createProposalDialog.close();
            });
        }

        function initializeProposalDetailsDialog() {
            var proposalDetailsDialog = document.getElementById('proposal-details-dialog');
            var proposalDetailsButton = document.getElementById('proposal-details-button');
            if (!proposalDetailsButton) {
                return;
            }
            var proposalDetailsClose = document.getElementById('proposal-details-close');
            var proposalDetailsDelete = document.querySelector('#proposal-details-dialog button[hx-delete]');

            proposalDetailsButton.addEventListener('click', () => {
                proposalDetailsDialog.showModal();
            });

            proposalDetailsClose.addEventListener('click', () => {
                proposalDetailsDialog.close();
            });

            proposalDetailsDelete.addEventListener('click', () => {
                proposalDetailsDialog.close();
            });

            console.log('Properly run again');
        }

            initializeCreateProposalDialog();
            initializeProposalDetailsDialog();
    </script>
    <script>
        var dependencies = [
            {{ range .PositionedGraph.Dependencies }}
                { from: {{ .DependsOnID }}, to: {{ .UnitID }} },
            {{ end }}
        ];
    </script>
</main>

{{ end }}

{{ end }}