{{ define "head" }}
<title>{{ .Unit.Name }}</title>
<link rel="stylesheet" href="/static/css/unit.css">
{{ end }}


{{ define "body" }}
<nav id="back">
    <a href="/units">&lt; Back to the units</a>
</nav>

<main>
    <h1>{{ .Unit.Name }} </h1>
    <p>{{ .Unit.Description }}</p>

    <h2>Dependencies</h2>
    {{ if .Dependencies }}
        <ul>
        {{ range .Dependencies }}
            <li><a href="/unit/{{ .ID }}">{{ .Name }}</a>
                <button hx-delete="/dependencies?unit_id={{$.Unit.ID}}&depends_on_id={{.ID}}" hx-target="body">x</button>
            </li>
        {{ end }}
        </ul>
    {{ end }}

    <form hx-put="/dependencies"
    hx-target="body" hx-swap="outerHTML">
        <input type="hidden" name="unit_id" value="{{ .Unit.ID }}">
        <label for="depends_on_id">Add a dependency:</label>
        <select name="depends_on_id">
            {{ range .Units }}
                <option value="{{ .ID }}">{{ .Name }}</option>
            {{ end }}
        </select>
        <button type="submit">Add</button>
    </form>

    <button hx-delete="/unit/{{ .Unit.ID }}" hx-trigger="click" hx-confirm="Are you sure you want to delete this unit?">Delete</button>
</main>
{{ end }}
