{{ define "head" }}
<title>Units</title>
<link rel="stylesheet" href="/static/css/units.css">
{{ end }}

{{ define "body" }}
<nav id="back">
    <a href="/">&lt; Back to the homepage</a>
</nav>
<main>
    <h1>Unidades</h1>

    <h2>Create a unit</h2>
    <!-- Formulario para crear una nueva unidad -->
    <form id="create-unit-form" method="POST" action="/units" hx-post="/units" hx-target="body" hx-swap="outerHTML">
        <input type="text" name="name" placeholder="Nombre de la Unidad" required>
        <textarea name="description" placeholder="Descripción de la Unidad" required></textarea>
        <button type="submit">Create unit</button>
    </form>

    <h2>Units by level</h2>
    <div id="units">
        {{ range $level, $units := .UnitsByLevel }}
            <div class="level">
                {{ range $units }}
                    <div class="unit" onclick="location.href='/units/{{ .ID }}';">
                        <div></div>
                        <p>{{ .Name }}</p>
                    </div>
                {{ end }}
            </div>
            v
        {{ end }}
    </div>
</main>

<style>
    .unit {
        margin: 1rem 0.4rem;
        display: inline-block;
    }
    .unit * {
        display: inline-block;
    }
</style>

{{ end }}