@import "general_text.css";

*{
    box-sizing:border-box;
}

:root {

    /* Colors */
    --neutral-0: hsl(35, 45%, 97%);
    --neutral-1: hsl(35, 40%, 92%);
    --neutral-2: hsl(35, 38%, 88%);
    --neutral-3: hsl(35, 28%, 73%);
    --neutral-4: hsl(35, 28%, 63%);
    --neutral-5: hsl(31, 18%, 60%);
    --neutral-6: hsl(35, 20%, 40%);
    --neutral-7: hsl(35, 16%, 30%);
    --neutral-8: hsl(35, 16%, 20%);
    --neutral-9: hsl(35, 12%, 14%);

    --green-0: hsl(160, 20%, 90%);
    --green-1: hsl(160, 22%, 80%);
    --green-2: hsl(160, 24%, 70%);
    --green-3: hsl(160, 26%, 60%);
    --green-4: hsl(160, 28%, 50%);
    --green-5: hsl(160, 30%, 40%);
    --green-6: hsl(160, 32%, 30%);
    --green-7: hsl(160, 34%, 25%);
    --green-8: hsl(160, 40%, 20%);
    --green-9: hsl(160, 40%, 10%);

    --red-0: hsl(350, 20%, 90%);
    --red-1: hsl(350, 24%, 80%);
    --red-2: hsl(350, 26%, 70%);
    --red-3: hsl(350, 28%, 60%);
    --red-4: hsl(350, 31%, 49%);
    --red-5: hsl(350, 51%, 34%);
    --red-6: hsl(351, 49%, 28%);
    --red-7: hsl(351, 47%, 27%);
    --red-8: hsl(350, 49%, 19%);
    --red-9: hsl(350, 40%, 10%);

    --orange-0: hsl(35, 31%, 89%);
    --orange-1: hsl(29, 49%, 83%);
    --orange-2: hsl(29, 55%, 75%);
    --orange-3: hsl(29, 60%, 65%);
    --orange-4: hsl(29, 59%, 57%);
    --orange-5: hsl(29, 70%, 45%);
    --orange-6: hsl(29, 75%, 35%);
    --orange-7: hsl(29, 79%, 28%);
    --orange-8: hsl(29, 83%, 23%);
    --orange-9: hsl(29, 90%, 16%);

    --blue-0: hsl(200, 20%, 90%);   
    --blue-1: hsl(200, 22%, 80%);
    --blue-2: hsl(200, 24%, 70%);
    --blue-3: hsl(200, 26%, 60%);
    --blue-4: hsl(200, 28%, 50%);
    --blue-5: hsl(200, 30%, 40%);
    --blue-6: hsl(200, 32%, 30%);
    --blue-7: hsl(200, 34%, 25%);
    --blue-8: hsl(200, 40%, 20%);
    --blue-9: hsl(200, 40%, 10%);

    --purple-0: hsl(270, 20%, 90%);
    --purple-1: hsl(270, 22%, 80%);
    --purple-2: hsl(270, 24%, 70%);
    --purple-3: hsl(270, 26%, 57%);
    --purple-4: hsl(270, 25%, 48%);
    --purple-5: hsl(270, 49%, 36%);
    --purple-6: hsl(270, 38%, 27%);
    --purple-7: hsl(270, 37%, 24%);
    --purple-8: hsl(270, 43%, 19%);
    --purple-9: hsl(270, 45%, 9%);
    



    /* Old colors */

    --primary-dark: hsl(160, 40%, 20%);
    --primary-accent: hsl(160, 40%, 35%);
    --primary-light: hsl(160, 40%, 70%);
    --primary-white: hsl(167, 20%, 90%);

    --secondary-dark: hsl(20, 60%, 35%);
    --secondary-accent: hsl(20, 60%, 50%);
    --secondary-light: hsl(20, 40%, 70%);

    --background: hsl(35, 45%, 97%);
    --background-dark: hsl(35, 38%, 92%);
    --background-darker: hsl(35, 30%, 85%);

    --dark: hsl(340,5%,13%);
    
    --text-color: var(--dark);

    /*Font sharpening*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;
}

body{
    font-family: "Montserrat", sans-serif;
    color: var(--text-color);
    background-color: var(--background);
    margin: 0;
}


/* Animations */

@keyframes entrance {
    from {
        opacity: 0;
        transform: translateY(-2rem);
    }
}

.animated
{
    opacity:1;
    transform: translateY(0);
    transition: opacity 0.5s ease-in-out, transform 0.7s ease-in-out;
    animation: entrance 0.6s ease-in-out;
}

.animated.over-viewport{
    opacity:0;
    transform: translateY(-2rem);
}

.animated.under-viewport{
    opacity:0;
    transform: translateY(2rem);
}


/* Nav */

nav#back{
    padding: 1rem 1.5rem;
    position: fixed;
    top: 1rem;
    left: 1rem;
    background-color: var(--neutral-1);
    z-index: 100;
    border-radius: 2rem;
    a {
        color: var(--neutral-7);
    }
}

nav#language{
    font-size: 0.8em;
    padding: 1em 1.5em;
    position: fixed;
    top: 2rem;
    right: 2rem;
    background-color: var(--neutral-1);
    z-index: 100;
    border-radius: 2rem;
    color: var(--neutral-3);
    a {
        font-weight: bold;
        color:var(--neutral-5);
    }
}


/* Buttons */

button:not(.close){
    font-size: 1em;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 2rem;
    background-color: var(--primary-dark);
    color: var(--background);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button.close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    border: none;
    color: var(--secondary-dark);
    font-size: 1.5em;
    font-weight: bold;

    @media (min-width: 1200px) {
        top: 2rem;
        right: 2rem;
    }
}

button.red{
    background-color: var(--secondary-dark);
}


/* Inputs */

select {
    appearance: none; /* Para eliminar el estilo predeterminado del navegador */
    -webkit-appearance: none; /* Para navegadores WebKit */
    -moz-appearance: none; /* Para navegadores Mozilla */

    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    padding-right: 2.5rem;
    font-size: 1em;
    border-radius: 2rem;
    color: var(--neutral-8);
    
    background: var(--neutral-2);
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><polyline points='8,12,15,8,22,12' fill='none' style='stroke:grey;stroke-width:2'/><polyline points='8,18,15,22,22,18' fill='none' style='stroke:grey;stroke-width:2'/></svg>");
    background-position: right 0.2rem top 50%;
    background-blend-mode:luminosity;
}

select:hover {
    background: var(--neutral-4);
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><polyline points='8,12,15,8,22,12' fill='none' style='stroke:grey;stroke-width:2'/><polyline points='8,18,15,22,22,18' fill='none' style='stroke:grey;stroke-width:2'/></svg>");
    background-position: right 0.2rem top 50%;
    background-blend-mode:luminosity;
}

input[type="text"], input[type="email"], input[type="password"], textarea{
    width: 100%;
    font-size: 1em;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 1em;
    background-color: var(--neutral-1);
    color: var(--neutral-8);
    outline: none;
    margin: 0.5rem 0;
}

input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover, textarea:hover{
    background-color: var(--neutral-2);
}


/* Dialogs */

dialog{
    width: 80%;
    max-width: 40em;
    background-color: var(--neutral-0);
    border: none;
    border-radius: 2rem;
    padding: 3rem;

    @media (min-width: 1200px) {
        padding: 5rem;
    }
}