@import "base.css";

/* GENERAL */

a {
    color: var(--orange-6);
    text-decoration: none;
    transition-duration: 0.2s;
}

a:hover {
    color: var(--orange-4);
}

p,ol,ul {
    text-align: justify;
    line-height: 1.5em;
    margin: 1rem 0;
}

/* Lists */

li {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

li>p {
    margin-left: 0rem;
}

ul {
    list-style-type: none;
}

ul li:before {
    content: '-';
    position: absolute;
    margin-left: -20px;
}
