div.unit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 0.4rem;
    background-color: var(--primary-white);
    border-radius: 2rem;
    margin-left: calc(var(--horizontal-position)*2rem);
    color: var(--primary-dark);
}

.unit * {
    display: inline-block;
}

div.unit p{
    padding-left: 0.5rem;
    padding-right: 1rem;
    margin:0;
    font-weight: 600;
    font-size: 1.2em;
    width: calc(50vw - 10rem);
}

div.node{
    content: '';
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    -moz-border-radius: 1.1rem;
    -webkit-border-radius: 1.1rem;
    border-radius: 1.1rem;
    border: 0.3rem solid var(--primary-dark);
    background-color: var(--primary-white);
}

