#graph {
    display: grid;
    grid-template-columns: min-content 1fr auto;
    grid-auto-rows: min-content;
    gap: 0.6em;

    >*{
        grid-column: 1/-1;
    }
    
    >.unit{
        display: grid;
        grid-template-columns: subgrid;
        padding:0;

        border-radius: 2rem;
        margin-left: calc(var(--horizontal-position)*25%);
        transition: 0.2s;

        >.node{
            content: '';
            width: 1.8em;
            height: 1.8em;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
        }

        >a{
            text-decoration: none;
            color: inherit;
            margin:0;
            padding:0;
        }
        
        >p{
            margin:0;
            font-weight: 600;
            font-size: 1.2em;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        
        >.controls {
            display: flex;
            gap: 0.5em;
            align-items: center;
            margin-right:0.5em;

            >button{
                font-size: 0.6em;
                color:white;
                padding: 0.4em 0.8em;
                white-space: nowrap;

                &.deps{
                    background-color: var(--purple-4);
                }

                &.delete{
                    background-color: var(--red-4);
                }

                &.undo{
                    background-color: var(--neutral-4);
                }
            }
        }

        
        &.existing{
            background-color: var(--neutral-1);
            color: var(--neutral-7);
            &:hover{
                background-color: var(--neutral-2);
                color: var(--neutral-8);
            }
            >.node{
                border: 0.3em solid var(--neutral-4);
                background-color: var(--neutral-2);
            }
        }

        &.proposed-creation{
            background-color: var(--green-0);
            color: var(--green-7);
            &:hover{
                background-color: var(--green-1);
                color: var(--green-8);
            }
            >.node{
                border: 0.3em solid var(--green-7);
                background-color: var(--green-1);
            }
        }

        &.proposed-deletion{
            background-color: var(--red-0);
            color: var(--red-7);
            &:hover{
                background-color: var(--red-1);
                color: var(--red-8);
            }
            >.node{
                border: 0.3em solid var(--red-7);
                background-color: var(--red-1);
            }
        }


        &.proposed-rename{
            background-color: var(--orange-0);
            color: var(--orange-7);
            &:hover{
                background-color: var(--orange-1);
                color: var(--orange-8);
            }
            >.node{
                border: 0.3em solid var(--orange-7);
                background-color: var(--orange-1);
            }
        }

    }
}
