div.unit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.6rem 0;
    border-radius: 2rem;
    margin-left: calc(var(--horizontal-position)*2rem);
    transition: 0.2s;
}

div.unit.existing{
    background-color: var(--neutral-1);
    color: var(--neutral-7);
}

div.unit.existing:hover{
    background-color: var(--neutral-2);
    color: var(--neutral-8);
}

div.unit.proposed-creation{
    background-color: var(--green-0);
    color: var(--green-7);
}

div.unit.proposed-creation:hover{
    background-color: var(--green-1);
    color: var(--green-8);
}

div.unit.proposed-deletion{
    background-color: var(--red-0);
    color: var(--red-7);
}

div.unit.proposed-deletion:hover{
    background-color: var(--red-1);
    color: var(--red-8);
}

div.unit.proposed-rename{
    background-color: var(--orange-0);
    color: var(--orange-7);
}

div.unit.proposed-rename:hover{
    background-color: var(--orange-1);
    color: var(--orange-8);
}

.unit * {
    display: inline-block;
}

div.unit p{
    padding-left: 0.5rem;
    padding-right: 1rem;
    margin:0;
    font-weight: 600;
    font-size: 1.2em;
    width: 50%;
    text-overflow: ellipsis;
}

div.node{
    content: '';
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    -moz-border-radius: 1.1rem;
    -webkit-border-radius: 1.1rem;
    border-radius: 1.1rem;
}

div.unit.existing div.node{
    border: 0.3rem solid var(--neutral-4);
    background-color: var(--neutral-2);
}

div.unit.proposed-creation div.node{
    border: 0.3rem solid var(--green-7);
    background-color: var(--green-1);
}

div.unit.proposed-deletion div.node{
    border: 0.3rem solid var(--red-7);
    background-color: var(--red-1);
}

div.unit.proposed-rename div.node{
    border: 0.3rem solid var(--orange-7);
    background-color: var(--orange-1);
}

div.controls {
    display: flex;
    gap: 0.5em;
    align-items: center;
    margin-right:0.5em;
    
    button{
        font-size: 0.3em;
        padding: 0.4em 0.8em;
        white-space: nowrap;
    }

    button.deps{
        background-color: rgb(75, 50, 130)
    }

    button.delete{
        background-color: rgb(130, 50, 50);
    }

    button.undo{
        background-color: var(--neutral-5);
    }
}