/* HEADER */

header{
    padding: 10vh 2rem;
    background-color: var(--ll-green);
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header h1{
    font-size: 12vw;
    width:fit-content;
    margin:auto;
    font-weight: 800;
    line-height: 1;
    background: linear-gradient(var(--primary-dark), var(--primary-accent));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 900px){
    header {
        padding: 4rem 2rem;
        padding-top: 6rem;
    }

    header h1{
        font-size: 15vw;
    }
}

/* MAIN*/

main{
    font-size: 1.15rem;
}

@media screen and (min-width: 900px){
    main{
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 1200px){
    main{
        font-size: 1.4rem;
    }
    
}

main>section{
    padding: 8rem 4vw;
}

@media screen and (max-width: 1200px){
    main>section{
        padding: 4rem 4vw;
    }
}


/* MAIN>ABSTRACT */

section#abstract{
    background-color: var(--background-dark);
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

section#abstract p{
    width: 100%;
    max-width: 65rem;
    text-align: left;
    margin-left:auto;
    margin-right:auto;
}

section#abstract>div{
    background-color: var(--background);
    display: grid;
    grid-template-columns: 1.6em auto;
    padding: 0.4rem 1.2rem;
    border-radius: 2rem;
    grid-gap: 1rem;
    max-width: 65rem;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

section#abstract>div>svg{
    width: 100%;
    margin: auto;
    height: auto;
}

@media screen and (min-width: 900px){
    section#abstract{
        font-size:1.3em;
    }
    section#abstract>div{
        grid-template-columns: 1.8em auto;
        padding: 1rem 2rem;
        grid-gap: 1.5rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

@media screen and (min-width: 1200px){
    section#abstract{
        font-size:1.5em;
    }
    section#abstract>div{
        grid-template-columns: 2em auto;
        padding: 1.8rem 2.8rem;
        grid-gap: 1.8rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}



/* MAIN>MANIFEST-FOUNDATION */

section#manifest-foundation{
    background-color: var(--background);
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0;
}

section#manifest-foundation p{
    text-align: left;
}

@media screen and (min-width: 1200px){
    section#manifest-foundation{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "paragraph cards";
        grid-gap: 5vw;
    }

    section#manifest-foundation>div.cards{
        grid-area: cards;
        max-width: 45rem;
    }

    section#manifest-foundation>div:first-of-type{
        grid-area: paragraph;
    }
    section#manifest-foundation>div:first-of-type *{
        position: sticky;
        top: 20vw;
        max-width: 40rem;
        margin: 5rem 0;
        margin-left:auto;
    }
    section#manifest-foundation>div:first-of-type>p{
        margin-top:4rem;
    }
}

div.card{
    padding: 2rem;
    margin: 3rem 0;
    border-radius: 1rem;
    background-color: var(--background-dark);
}

@media screen and (min-width: 1200px){
    div.card{
        padding: 3rem;
        margin: 4rem 0;
    }
}

div.card h2{
    font-size: 1.4em;
    font-weight: 800;
    margin:0;
    margin-bottom: 0.8rem;
}

div.card p{
    text-align: left;
}

div.card a{
    font-weight: 700;
    display: block;
    margin-top: 0.8rem;
}

@media screen and (min-width: 1200px){
    div.card a{
        margin-top: 1.2em;
    }
}


/* MAIN>FAQ */

section#faq{
    background-color: var(--background-dark);
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
}

section#faq p{
    text-align: left;
}

@media screen and (min-width: 1200px){
    section#faq{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "title qas";
        grid-gap: 5vw;
    }

    section#faq>div.qas{
        grid-area: qas;
        max-width: 50rem;
    }

    section#faq>div:first-of-type{
        grid-area: title;
    }
    section#faq>div:first-of-type *{
        position: sticky;
        top: 20vw;
        max-width: 50rem;
        margin: 5rem 0;
        margin-left:auto;
    }
    section#faq>div:first-of-type>p{
        margin-top:4rem;
    }
}

section#faq>div.qas>div.qa{
    padding: 1rem 0;
    margin: 4rem 0;
    border-top: 2px solid var(--dark);
}

section#faq>div.qas>div.qa>p.q{
    font-size: 1.2em;
    font-weight: 700;
    margin: 1rem 0;
    line-height: 1.35em;
}