main {
    font-size: clamp(0.9em, 1.5vw, 1.2em);
}

main>section {
    padding: 15vh 1rem;
}


main>section>* {
    max-width: clamp(40rem, 60vw, 60rem);
    margin-left: auto;
    margin-right: auto;
}


/* Text sizing*/

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1em;
    line-height: 1.1em;
    margin-bottom: 1em;
}

h2 {
    font-size: 3.6em;
    font-weight: 800;
}

h3 {
    font-size: 2em;
    font-weight: 700;
    margin-top: 3.5em;
}

h4 {

    font-size: 1.6em;
    font-weight: 600;
    margin-top: 3em;
}

h5 {
    font-size: 1.4em;
    font-weight: 500;
    margin-top: 2.5em;
}

h6 {
    font-size: 1.2em;
    font-weight: 400;
    margin-top: 2em;
}


figure {
    margin: 1rem auto;
}

img {
    width: 100%
}

iframe {
    margin: 2rem 0;
}

.comment {
    font-style: italic;
    opacity: 0.5;
    font-size: 0.8em;
    max-width: 35em;
    margin-left: auto;
    margin-right: auto;
}

/* For blocquotes */

blockquote {
    font-style: italic;
    opacity: 0.9;
    padding: 1em 2em;
    margin: 2.5rem 0;
    border-left: 8px solid var(--orange-6);
    position: relative;
    background-color: rgba(139, 103, 103, 0.1)
}

blockquote::before {
    font-family: Arial;
    content: "\201C";
    color: var(--orange-2);
    font-size: 4em;
    position: absolute;
    left: 5px;
    top: 0px;
}

blockquote::after {
    font-family: Arial;
    content: "\201D";
    color: var(--orange-2);
    font-size: 4em;
    position: absolute;
    right: 20px;
    bottom: calc(10px - 0.7em);
}

blockquote span {
    display: block;
    color: var(--orange-6);
    font-style: normal;
    font-weight: bold;
    margin-top: 1em;
}

@media screen and (max-width: 900px) {
    blockquote::before {
        font-size: 3em;
    }

    blockquote::after {
        font-size: 3em;
    }

    blockquote {
        border-left: 4px solid var(--orange-6);
        padding: 0.9em 1.2em;
    }
}


/* Notes */

span[id^="expand"] {
    font-style: italic;
    font-size: 0.6em;
    vertical-align: middle;
    padding: 0.2em 0.5em;
    background-color: var(--neutral-2);
    border-radius: 0.5em;
    opacity: 0.6;
    white-space: nowrap;
}

span[id^="expand"]:hover {
    opacity: 1;
}

div[id^="expand"] {
    overflow: hidden;
    transition: max-height 2s ease;
    width: 100%;
    opacity: 0.9;
}

div[id^="expand"]:not(.expanded) {
    max-height: 0;
}

div[id^="expand"].expanded {
    max-height: 200vh;
}


/* Intro */

section#intro {
    font-size: 1.4em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

section#intro * {
    width: 100%;
    text-align: left;
}

section#intro p {
    margin: 0 auto;
}

section#intro div p {
    margin: 0;
}

section#intro div {
    padding: 1em;
    border-radius: 0.5em;
}


section#intro div:nth-child(2) {
    color: var(--orange-6);
    border: 3px solid var(--orange-6);
}

section#intro div:nth-child(3) {
    color: var(--green-8);
    border: 3px solid var(--green-8);
}

section#intro div:nth-child(3) a {
    color: var(--green-8);
}

section#intro div:nth-child(3) a:hover {
    color: var(--green-6);
}



/* Current situation */

section#current-situation h2,
section#current-situation h3,
section#current-situation h4,
section#current-situation h5,
section#current-situation h6 {
    color: var(--orange-6);
}

/* Proposed solution */

section#proposed-solution h2,
section#proposed-solution h3,
section#proposed-solution h4,
section#proposed-solution h5,
section#proposed-solution h6 {
    color: var(--green-8);
}

div#menu a:nth-child(n+16) {
    color: var(--green-8)
}
