main{
    font-size: 1.15rem;
}

main>section{
    padding: 15vh 2rem;
}

main>section>*{
    max-width: 46rem;
    margin-left:auto;
    margin-right:auto;
}


/* Text sizing*/

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1em;
    line-height: 1.1em;
    margin-top: 2em;
    margin-bottom: 1em;
}

h2 {
    font-size: 3.6em;
    font-weight: 800;
}

h3 {
    font-size: 2em;
    font-weight: 700;
}

h4 {
    font-size: 1.6em;
    font-weight: 600;
}

h5 {
    font-size: 1.4em;
    font-weight: 500;
}

h6 {
    font-size: 1.2em;
    font-weight: 400;
}


figure {
    margin: 1rem auto;
}

img {
    width: 100%
}

iframe {
    margin: 2rem 0;
}

.comment {
    font-style: italic;
    opacity: 0.5;
    font-size: 0.8em;
    max-width: 35em;
    margin-left:auto;
    margin-right:auto;
}

/* For blocquotes */

blockquote {
    font-style: italic;
    opacity: 0.9;
    padding: 1em 2em;
    margin: 2.5rem 0;
    border-left: 8px solid var(--secondary-dark);
    position: relative;
    background-color: rgba(139, 103, 103, 0.1)
}

blockquote::before {
    font-family: Arial;
    content: "\201C";
    color: var(--secondary-light);
    font-size: 4em;
    position: absolute;
    left: 5px;
    top: 0px;
}

blockquote::after {
    font-family: Arial;
    content: "\201D";
    color: var(--secondary-light);
    font-size: 4em;
    position: absolute;
    right: 20px;
    bottom: calc(10px - 0.7em);
}

blockquote span {
    display: block;
    color: var(--secondary-dark);
    font-style: normal;
    font-weight: bold;
    margin-top: 1em;
}


/* Notes */

span[id^="expand"] {
    font-style: italic;
    font-size: 0.6em;
    vertical-align:middle;
    padding:0.2em 0.5em;
    background-color: var(--background-darker);
    border-radius: 0.5em;
    opacity: 0.6;
}

span[id^="expand"]:hover{
    opacity: 1;
}

div[id^="expand"] {
    overflow:hidden;
    transition: max-height 2s ease;
    width: 100%;
}

div[id^="expand"]:not(.expanded) {
    max-height:0;
}

div[id^="expand"].expanded{
    max-height: 100vh;
}


/* Intro */

section#intro{
    font-size: 1.4em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

section#intro *{
    width: 100%;
}

section#intro p{
    margin: 0 auto;
}

section#intro div p{
    margin:0;
}

section#intro div{
    padding: 1em;
    border-radius: 0.5em;
}


section#intro div:nth-child(2){
    color: var(--secondary-dark);
    border: 3px solid var(--secondary-dark);
}

section#intro div:nth-child(3){
    color: var(--primary-dark);
    border: 3px solid var(--primary-dark);
}

section#intro div:nth-child(3) a{
    color: var(--primary-dark);
}

section#intro div:nth-child(3) a:hover{
    color: var(--primary-light);
}



/* Current situation */

section#current-situation h2,
section#current-situation h3,
section#current-situation h4,
section#current-situation h5,
section#current-situation h6{
    color: var(--secondary-dark);
}

/* Proposed solution */

section#proposed-solution h2,
section#proposed-solution h3,
section#proposed-solution h4,
section#proposed-solution h5,
section#proposed-solution h6{
    color: var(--primary-dark);
}

div#menu a:nth-child(n+16){
    color: var(--primary-dark)
}