main>* {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}

div.unit{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--primary-white);
    border-radius: 2rem;
}

div.unit p{
    padding-left: 0.5rem;
    padding-right: 1rem;
    margin:0;
    font-weight: 600;
    font-size: 1.2em;
}

div.unit::before{
    content: '';
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    -moz-border-radius: 1.1rem;
    -webkit-border-radius: 1.1rem;
    border-radius: 1.1rem;
    border: 0.3rem solid var(--primary-dark);
    background-color: var(--primary-white);
}

div.level{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;
}