{{ define "main" }}
    <div id="contenido">
        <h1>Unidades</h1>

        <h2>Crear unidad</h2>
        <!-- Formulario para crear una nueva unidad -->
        <form id="create-unit-form" method="POST" action="/units" hx-post="/units" hx-target="body" hx-swap="outerHTML">
            <input type="text" name="name" placeholder="Nombre de la Unidad" required>
            <textarea name="description" placeholder="Descripción de la Unidad" required></textarea>
            <button type="submit">Crear Unidad</button>
        </form>

        <h2>Units</h2>
        <div>
            {{ range .Units }}
                <div class="unidad">
                    <h2>{{ .Name }}</h2>
                    <p>{{ .Description }}</p>
                    <a href="/units/{{ .ID }}">Open unit</a>
                </div>
            {{ end }}
    </div>
{{ end }}